:root {
  --color-background: #222;
  --color-text: #acacac;
  /* --color-link: dodgerblue; */
  --color-visited: #ba73dd;
  --color-background-code: #343434dd;
  --color-background-thead: #343434f0;
  --color-mark: #00ffff40;
  --color-indentation-guide-quotation: #b264ea;
  --color-octicon: #959595;
}

/* layout */
hr {
  border-style: outset;
}

/* text */
mark,
:not(pre) > code {
  mix-blend-mode: lighten;
}
