:root {
  --color-background: #101012;
  --color-text: #9e9d9d;
  --color-link: #0080ff;
  --color-visited: #b05fd8;
  --color-background-code: #282828dd;
  --color-mark: #00ffff40;
  --color-indentation-guide-quotation: #a850e7;
  --color-octicon: #959595;
}

/* layout */
hr {
  border-style: outset;
}

/* text */
mark,
:not(pre) > code {
  mix-blend-mode: lighten;
}
