html {
  font-size: 9pt;
}

body {
  /* min-block-size: revert; */
  max-inline-size: revert;
  margin: 1.618034em; /* φ */
}

.feed > dl > dt {
  text-transform: capitalize;
}

.entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 29em), 1fr));
  gap: 1.618034em; /* φ */
}

.feed-entry {
  border: 1px solid var(--color-border);
  border-radius: 0.5em;
  padding: 1em;
  box-sizing: border-box;
  height: max-content;

  /* Overwrite `:--pass-thru:first-child > :--margins:first-child` in layout.css. The <section>s are not pass-thru because they have a top and bottom border. */
  &:first-child > h1:first-child {
    margin-block-start: 1.618034em !important;
  }

  & > dl > dt {
    text-transform: capitalize;
  }

  & > dl > dd > .content {
    opacity: 0.8;
  }

  & > dl > dd > .content a {
    pointer-events: none;
    text-decoration: line-through;
  }
}
