html {
  font-size: 13px;
}

body {
  /* min-block-size: revert; */
  max-inline-size: revert;
  margin: 1.618034em;
}

.entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 27em), 1fr));
  gap: 1.618034em;
}

section {
  border: 1px solid #7f7f7f;
  border-radius: 0.5em;
  padding: 1em;
  box-sizing: border-box;
  height: max-content;
}

/* Overwrite `:--pass-thru:first-child > :--margins:first-child` in layout.css. The <section>s are not pass-thru because they have a top and bottom border. */
section:first-child > h1:first-child {
  margin-block-start: 1.618034em !important;
}

dl > dt {
  text-transform: capitalize;
}

.content {
  pointer-events: none;
}
