@custom-selector :--blockquote blockquote, .blockquote-like;

html {
  font-size: 9pt;
}

body {
  /* min-block-size: revert; */
  max-inline-size: revert;
  margin: 1.618034em; /* φ */
}

.feed > dl > dt {
  text-transform: capitalize;
}

.entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,
    29em /* letters */
    + 2em /* indentation */
    + 2em /* padding */
  ), 1fr));
  gap: 1.618034em; /* φ */
}

/* .entries > a {
  all: unset;
  cursor: pointer;
} */

.feed-entry {
  border: 1px solid var(--color-border);
  border-radius: 0.5em;
  padding: 1em;
  box-sizing: border-box;
  height: max-content;

  /* Overwrite `:--pass-thru:first-child > :--margins:first-child` in layout.css. The <section>s are not pass-thru because they have a top and bottom border. */
  &:first-child > h1:first-child {
    margin-block-start: 1.618034em !important;
  }

  & > hr {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
  }

  /* specificity を (0, 4, 0) 以上にする */
  &&&& > :where(dl) {
    margin-bottom: 1em;
  }

  & > dl > dt {
    text-transform: capitalize;
  }

  & .content {
    opacity: 0.8;
  }

  & .content a {
    pointer-events: none;
  }

  & .content a::after {
    display: inline-block;
    display: inline flow-root;
    font: var(--fa-font-solid);
    content: '\f127'; /* fa-link-slash */
    font-size: 61.8034%; /* φ⁻¹ */
    color: var(--color-text-dimmed);
    vertical-align: super;
    margin-left: 2px;
  }

  & .content .header-anchor {
    display: none;
  }

  & .content :is(p, :--blockquote).vertical {
    /* フィードではカラム数を正確に知ることができないため、vw に依存しないようにする。 */
    height: min(
      29em,

      /* 100vh - (margin-top-bottom itself) */
      100vh - 2em
    );
  }
}
