:root, [lang] {
  --font-text: serif;
  --font-text-emphasized: system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
  --font-code: Menlo, Consolas, monospace;
}

[lang="ja"] {
  --font-text: "YuMincho +36p Kana", "Yu Mincho", serif;
  --font-text-emphasized: "Hiragino Sans", "Yu Gothic", sans-serif;
  --font-code: CodeM, Myrica, Ricty, "Source Han Code JP", monospace;
}

html {
  &, & * { font-family: var(--font-text) }
}

h1, h2, h3, h4, h5, h6,
dl > dt,
dl > div > dt {
  &, & * { font-family: var(--font-text-emphasized) }
}

code {
  &, & * { font-family: var(--font-code) }
}
