.horizontal {
  writing-mode: revert;
}

%revert-class-horizontal {
  writing-mode: revert;
}

blockquote.horizontal {
  @extend %revert-class-horizontal;

  overflow-y: revert;
  overflow-inline: revert;
}

blockquote.horizontal > p {
  @extend .horizontal;

  leading-trim: revert;
}

.horizontal .footnote-ref a[id],
.footnote-ref.horizontal a[id],
.footnote-ref a[id].horizontal {
  scroll-margin: revert;
}
