/* Keep contrasting with vertical-gecko.css */

/* code:root, */
:not(pre) > code,
.horizontal :not(pre) > code,
:not(pre).horizontal > code,
:not(pre) > code.horizontal {
  display: revert;
  padding-block: 0.236068em; /* φ⁻³ */
  line-height: revert;
}

/* from text.css */
/* NOTE: @nest すると :is に展開されることがあり、a の詳細度が上がってしまうので、セレクターをベタ書きする。他同様。 */
a:lang(ja):hover, .horizontal a:lang(ja):hover, a:lang(ja).horizontal:hover {
  text-decoration: underline dashed;
}

a:lang(ja):active, .horizontal a:lang(ja):active, a:lang(ja).horizontal:active {
  text-decoration: underline;
}
