/* Keep contrasting with vertical-blink.css */

/* code:root, */
:not(pre) > code {
  padding-block: 0.236068em; /* φ⁻³ */
  padding-inline: 0.381966em; /* φ⁻² */
  position: revert;
  inset-block-start: revert;
}

/* from text.css */
a {
  &:hover {
    text-decoration: underline dashed;
  }

  &:active {
    text-decoration: underline;
  }
}
