.horizontal {
  writing-mode: revert;
}

%revert-class-horizontal {
  writing-mode: revert;
  writing-mode: horizontal-tb; /* Safari (15.1, iOS 15.2) では継承するか直接指定するかで振る舞いが変わることがあるので、明示的に指定している。 TODO: Delete this line */
}

.horizontal p,
p.horizontal {
  margin-inline: 0;
  margin-block: 1em;

  height: revert;
  max-width: revert;
  overflow-y: revert;
  overflow-inline: revert;
}

blockquote.horizontal {
  @extend %revert-class-horizontal;

  overflow-y: revert;
  overflow-inline: revert;
}

blockquote.horizontal > p {
  @extend .horizontal;

  leading-trim: revert;
}

.blockquote-like {
  @extend blockquote;
}

.horizontal .footnote-ref a[id],
.footnote-ref.horizontal a[id],
.footnote-ref a[id].horizontal {
  scroll-margin: revert;
}
