/* Keep contrasting with vertical.css */

html {
  writing-mode: horizontal-tb;

  font-size: clamp(
    13px,
    100vmin / (2 * 4.236068 + 39),
    100vh / (2 * 2.618034 + 29)
  );

  font-size: clamp(
    13px,
    100vmin / (2 * 4.236068 + 39), /* φ³ */
    100vb / (2 * 2.618034 + 29) /* φ² */
  );

  font-kerning: normal;
  font-feature-settings: "hkna";
}

body {
  min-block-size: 100vh;
  min-block-size: 100vb;

  /* 100vb + max margin-inline of .body */
  max-inline-size: calc(100vh + 2 * 4.236068rem); /* φ³ */
  max-inline-size: calc(100vb + 2 * 4.236068rem); /* φ³ */
}

.title-page {
  min-block-size: 38.196601vw;
  min-block-size: 38.196601vi; /* φ⁻²; width/height = φ² */
}

.colophon {
  width: revert;
  max-width: revert;
}

.footnote-ref,
.footnote-backref {
  @extend .upright;
}

.footnote-ref {
  font-feature-settings: revert;
}

ol {
  list-style-type: revert;
}

ol:has(li:nth-of-type(11)),
ol:has(li:nth-of-type(21)) {
  padding-inline-start: 2em; /* Same as ol in layout.css */
}

/* 100-9999 */
ol:has(li:nth-of-type(100)) {
  padding-inline-start: 3em;
}

:not(pre) > code {
  @media (max-width: 427.25px) {
    white-space: pre-wrap;
    word-break: break-all;
  }

  @media (width < 428px) { /* Same as in page.njk */
    white-space: pre-wrap;
    word-break: break-all;
  }
}

em,
em :where(:not(:lang(ja)):not(:lang(jpn-archaic))) {
  font-style: italic;
  font-family: var(--font-text);
}

em,
em :where(:not(:lang(ja, jpn-archaic))) {
  font-style: italic;
  font-family: var(--font-text);
}

em:where(:lang(ja)),
em:where(:lang(jpn-archaic)),
em :where(:lang(ja)),
em :where(:lang(jpn-archaic)) {
  font-style: normal;
  font-family: var(--font-text-emphasized);
}

em:where(:lang(ja, jpn-archaic)),
em :where(:lang(ja, jpn-archaic)) {
  font-style: normal;
  font-family: var(--font-text-emphasized);
}

b {
  font-weight: unset;
  text-emphasis-style: revert;
  text-decoration: underline;
}

/* mark { See text.css } */

/* i { See text.css } */

cite {
  font-style: revert; /* italic */
  font-family: var(--font-text);
}

/* cite, */
cite :where([lang]) {
  font-style: italic;
  font-family: var(--font-text);
}

.sideways {
  font-feature-settings: revert;
  text-orientation: revert;
}

.upright {
  font-feature-settings: revert;
  text-orientation: revert;
}

.tate-chu-yoko {
  -webkit-text-combine: revert;
  text-combine-upright: revert;
}

.header-anchor {
  @extend .upright;
}

/* Keep contrasting with h# block-axis layout defined in layout.css */
:is(h1, h2, h3, h4, h5, h6):is([id]) /*- :has(.header-anchor) */ {
  scroll-margin-right: 0;
  scroll-margin-left: 0;
  scroll-margin-top: 1.618034em; /* φ */
  scroll-margin-bottom: 1em;
  scroll-margin-block-start: 1.618034em; /* φ */
  scroll-margin-block-end: 1em;
}

.footnote-ref a[id] {
  scroll-margin: 1em 0;
  scroll-margin-block: 1em;
  scroll-margin-inline: 0;
}

.footnotes-list {
  & li:is([id]) {
    scroll-margin: 0.5em 0;
    scroll-margin-block: 0.5em; /* half of (line-height - 1em) */
    scroll-margin-inline: 0;
  }
}

.kuntened {
  & rt:lang(ja), & rt:lang(jpn-archaic) {
    font-feature-settings: revert;
  }
  & rt:lang(ja, jpn-archaic) {
    font-feature-settings: revert;
  }
}
