/* Keep contrasting with vertical.css */

:root {
  writing-mode: horizontal-tb;

  & body {
    min-block-size: 100vh;
    min-block-size: 100vb;

    font-kerning: normal;
    font-feature-settings: "vkrn" 0, "palt", "hkna";
    text-align: unset;
  }

  & .upright {
    font-feature-settings: unset;
    text-orientation: unset;
  }

  & .title-page {
    min-block-size: 38.196601vw; /* height/width = φ² */
    min-block-size: 38.196601vi; /* height/width = φ² */
  }

  & .digits {
    -webkit-text-combine: unset;
    text-combine-upright: unset;
  }

  & em {
    @extend :root .upright; /* TODO: :parent .upright */

    font-style: revert;

    &:where(:lang(ja)) {
      font-style: unset;
      font-family: sans-serif;
    }

    text-emphasis-style: unset;
  }
}
