/* Keep contrasting with vertical.css */

@custom-selector :--image figure, img, picture, svg;

html {
  writing-mode: horizontal-tb;

  font-size: clamp(
    9pt,
    100vw / (2 * 4.236068 + 39),
    100vmin / (2 * 2.618034 + 29)
  );

  font-size: clamp(
    9pt,
    100vi / (2 * 4.236068 + 39), /* φ³ */
    100vmin / (2 * 2.618034 + 29) /* φ² */
  );

  /* font-kerning: normal; */
  font-feature-settings: "hkna";
}

body {
  min-block-size: 100vh;
  min-block-size: 100vb;
  max-inline-size: calc(39 / 29 * 100vh);
  max-inline-size: calc(39 / 29 * 100vb);
}

/* column gap を2倍にしたアスペクト比が √2 以上、かつカラム分割しても1行あたり29文字以上表示できそうな場合はカラム分割する。縦書きでは行わない。 */
/* √2 (3 φ³ + 2 * 29) / (4 φ³ + 2 * 29) ≈ 1.3342781032 */
/* 9pt ≤ 100vw / (3 φ³ + 2 * 29) ⇔ 848.49844719px ⪅ 100vw */
@media (min-aspect-ratio: 1.334279) and (min-width: 848.498448px) {
  html {
    font-size: clamp(
      9pt,
      100vw / (3 * 4.236068 + 2 * 29),
      100vmin / (2 * 4.236068 + 40)
    );

    font-size: clamp(
      9pt,
      100vi / (3 * 4.236068 + 2 * 29), /* φ³ */
      100vmin / (2 * 4.236068 + 40) /* φ³; 40 ≈ √2 (2 φ² + 29) - 2 φ³ */
    );
  }

  body {
    max-inline-size: revert;
    max-inline-size: revert;
  }

  .body {
    columns: 2;

    /* Same as margin-inline of .body */
    column-gap: clamp(
      1.618034rem, /* φ */
      100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
      4.236068rem /* φ³ */
    );
  }
}

.title-page {
  min-block-size: 38.196601vw;
  min-block-size: 38.196601vi; /* φ⁻²; width/height = φ² */
}

.table-wrapper {
  overflow-x: auto;
  overflow-inline: auto;
}

pre, code {
  @media all and not (min-width: 424px) {
    tab-size: 4;
  }

  @media (width < 424px) { /* Same as in page.njk */
    tab-size: 4;
  }
}

:not(pre) > code {
  @media all and not (min-width: 424px) {
    word-break: break-all;
  }

  @media (width < 424px) { /* Same as in page.njk */
    word-break: break-all;
  }
}

a:not(:has(:--image)):any-link.external::after {
  display: inline-block;
  display: inline flow-root;
  font: var(--fa-font-solid);
  content: '\f35d'; /* fa-up-right-from-square */
  font-size: 61.8034%; /* φ⁻¹ */
  color: var(--color-text-dimmed);
  vertical-align: super;
  margin-inline-start: 2px;
}

em:where(:lang(ja)),
em:where(:lang(jpn-archaic)),
em :where(:lang(ja)),
em :where(:lang(jpn-archaic)) {
  font-style: normal;
  font-family: var(--font-text-emphasized);
}

em:where(:lang(ja, jpn-archaic)),
em :where(:lang(ja, jpn-archaic)) {
  font-style: normal;
  font-family: var(--font-text-emphasized);
}

/* mark { See text.css } */

/* i { See text.css } */

cite {
  font-family: var(--font-text);
}

/* cite, */
cite :where([lang]) {
  font-style: italic;
  font-family: var(--font-text);
}

.footnote-ref a[id] {
  scroll-margin: 1em 0;
  scroll-margin-block: 1em;
  scroll-margin-inline: 0;
}

.footnotes-list {
  & li:is([id]) {
    scroll-margin: 0.5em 0;
    scroll-margin-block: 0.5em; /* half of (line-height - 1em) */
    scroll-margin-inline: 0;
  }
}

.katex-display {
  overflow-x: auto;
  overflow-y: clip;
}
