/* Keep contrasting with vertical-gecko.css */

/* code:root, */
:not(pre) > code {
  display: revert;
  padding-block: 0.236068em; /* φ⁻³ */
  line-height: revert;
}

/* from text.css */
a {
  &:hover {
    text-decoration: underline dashed;
  }

  &:active {
    text-decoration: underline;
  }
}
