@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--list ul, menu, ol, dl;
@custom-selector :--list-item li, dd;
@custom-selector :--blockquote blockquote, .blockquote-like;
@custom-selector :--section article, aside, nav, section;
@custom-selector :--pass-thru :--list-item, :--blockquote, :--section;
@custom-selector :--pass-thru-no-color :--list-item, :--section;
@custom-selector :--margins :--heading, :--list, pre, p, details, :--pass-thru;
@custom-selector :--margins-no-anchor :--list, pre, p, details, :--pass-thru;
@custom-selector :--margins-no-color :--heading, :--list, p, details, :--pass-thru-no-color;

:root {
  --color-indentation-guide-quotation: #565acf;
  --color-octicon: black;
  --color-border: #949595;
}

html {
  line-height: 2;
  text-size-adjust: none;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

html:lang(ar),
html:lang(arc),
html:lang(dv),
html:lang(fa),
html:lang(ha),
html:lang(hbo),
html:lang(he),
html:lang(iw),
html:lang(khw),
html:lang(ks),
html:lang(ku),
html:lang(ps),
html:lang(ur),
html:lang(yi) {
  direction: rtl;
}

/* Set a proper direction when <html> has a lang attribute of an RtL language and has no dir attribute. For translators like Google Translate. */
html:lang(ar, arc, dv, fa, ha, hbo, he, iw, khw, ks, ku, ps, ur, yi) {
  direction: rtl;
}

body {
  display: flex; /* Prevents margins of .body and .footer from offsetting, also */
  flex-direction: column;
  justify-content: space-between;
  margin-inline: auto;
}

.book {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  /* Prevents margins of .title-page and .body from offsetting */
  display: flex;
  flex-direction: column;
}

.title-page {
  box-sizing: border-box;
  margin: clamp(
    1.618034rem, /* φ */
    100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
    4.236068rem /* φ³ */
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-page {
  & > h1,
  & > p {
    margin-block: 0;
  }
}

.incipit {
  /*
  line-spacing = line-height * font-size - font-size
  line-spacing(body) = 2(1rem) - 1rem = 1rem
  line-spacing(incipit) = φ(φrem) - φrem = (φ-1)φrem = φ⁻¹φrem = 1rem
  */
  font-size: 161.8034%; /* φ */
  line-height: 1.618034; /* φ */

  float: left;
  float: inline-start;
  margin-inline-end: 1em;
}

.body {
  margin-block: clamp(
    1rem,
    100vmin * 2.618034 / (2 * 2.618034 + 29), /* φ² */
    2.618034rem /* φ² */
  );

  margin-inline: clamp(
    1.618034rem, /* φ */
    100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
    4.236068rem /* φ³ */
  );
}

hr {
  /* same as that of .body */
  margin-block: clamp(
    1rem,
    100vmin * 2.618034 / (2 * 2.618034 + 29), /* φ² */
    2.618034rem /* φ² */
  );

  /* border-style: inset; */
  border-color: var(--color-border);
}

.divider {
  border: 1px inset var(--color-border);
}

.footnote-ref a[id] {
  scroll-margin-block: 1em;
  scroll-margin-inline: 0;
}

.footnotes-list {
  font-size: calc(39 / 44 * 100%);
}

.footnotes-list li:is([id]) {
  scroll-margin-block: 0.5em; /* half of (line-height - 1em) */
  scroll-margin-inline: 0;
}

.colophon {
  --colophon-margin: clamp(
    1.618034rem, /* φ */
    100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
    4.236068rem /* φ³ */
  );

  --colophon-margin-block: var(--colophon-margin);

  font-size: calc(39 / 44 * 100%);
  margin: var(--colophon-margin);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1;
}

.colophon-container {
  inline-size: 100%;
}

.colophon-title {
  font-size: 110.1026%; /* Same as h5 */
  font-size: 161.8034%;
  font-weight: bold;
}

.colophon-title + .divider ~ * {
  line-height: 1.1;
  leading-trim: both;
}

.colophon .divider {
  margin-block: 1em;
}

.colophon-dates {
  margin-block: 1.618034em;
  display: grid;
  grid-template-columns: repeat(7, max-content);
  column-gap: 1em;
  align-items: baseline;

  & > time {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-template-columns: subgrid;
    grid-column: 1/7;
    column-gap: 0;
    justify-items: center;
  }
}

.colophon-attrs {
  margin-block-start: 1.618034em;
  display: grid;
  row-gap: 1px;
  justify-items: flex-end;
  text-align: right;
  text-align: end;
}

ul.colophon-attrs {
  padding-inline-start: 1.618034em;
  list-style-type: none;

  & > li {
    word-break: break-word;
  }
}

.footer {
  font-size: calc(39 / 44 * 100%);

  margin-block: clamp(
    1rem,
    100vmin * 2.618034 / (2 * 2.618034 + 29), /* φ² */
    2.618034rem /* φ² */
  );

  margin-inline: clamp(
    1.618034rem, /* φ */
    100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
    4.236068rem /* φ³ */
  );

  & > ul {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    & > li {
      flex: auto;
      max-inline-size: calc(32px * 1.618034); /* φ */

      display: flex;
      justify-content: flex-end;
    }

    & > li > a {
      display: flex;
    }
  }
}

h1 { font-size: 161.8034% } /* φ^(5/5) */
h2 { font-size: 146.9569% } /* φ^(4/5) */
h3 { font-size: 133.4727% } /* φ^(3/5) */
h4 { font-size: 121.2258% } /* φ^(2/5) */
h5 { font-size: 110.1026% } /* φ^(1/5) */
h6 { font-size: 100% } /* φ^(0/5) */

/* block-axis layout */

:--heading {
  margin-block-start: 1.618034em; /* φ */
  margin-block-end: 1em;

  inline-size: fit-content; /* Get Webkit outlines fit */
}

:--heading:is([id]) /*- :has(.header-anchor) */ {
  scroll-margin-block-start: 1.618034em; /* φ */
  scroll-margin-block-end: 1em;
}

p, :--blockquote {
  margin-block: 1em;
}

aside {
  font-size: calc(39 / 44 * 100%);
}

/* TODO: Merge those rulesets if the bugs of css-has-pseudo are fixed: */
:--list,
.katex-display.katex-display, /* Overwrite katex.min.css */
.table-wrapper,
:where(:not(.table-wrapper)) > table,
.diagram-wrapper,
:where(:not(.diagram-wrapper) /* figure? */) .mermaid {
  margin-block-start: 1em;
  margin-block-end: 1.618034em; /* φ */
}
pre:has(code) {
  margin-block-start: 1em;
  margin-block-end: 1.618034em; /* φ */
}

.diagram-wrapper > figure {
  margin-block: 0;
}

/* TODO: Replace .mermaid w/ * (Universal) */
figure > figcaption + .mermaid {
  margin-block-start: 0;
}
figure > .mermaid:has(+ figcaption) {
  margin-block-end: 0;
}
figure {
  inline-size: fit-content;
}
figcaption {
  margin-inline: auto;
  max-inline-size: fit-content;
}

figure {
  display: flex;
  flex-direction: column;
}
pre.mermaid.mermaid.mermaid {
  margin-block: auto;
}

dl > dt {
  margin-block-start: 1em;
}

details {
  margin-block: 1em;
}

summary {
  display: inline flow list-item;
  cursor: pointer;
}

summary::-webkit-details-marker {
  margin-right: unset;
  margin-inline-end: 0.4em;
}

summary::marker {
  margin-right: unset;
  margin-inline-end: 0.4em;
}

summary .details-marker {
  display: none;
}

:not(:--pass-thru) {
  & > :--heading:first-child {
    margin-block-start: 0;
  }

  & > :--heading:last-child {
    margin-block-end: 0;
  }
}

:not(:--pass-thru) > :--margins:first-child,
:--pass-thru:first-child > :--margins:first-child {
  margin-block-start: 0;
}

:not(:--pass-thru) > :--margins:last-child,
:--pass-thru:first-child > :--margins:last-child {
  margin-block-end: 0;
}

/* NOTE: 連続するリスト項目で、上のリスト項目の末尾と下のリスト項目の先頭がともに <blockquote> または <pre> の場合、margin を取り除くとインデントガイドや背景色が繋がってしまう。そのため、<blockquote> や <pre> には適用しない。 */
:--list-item {
  /* NOTE: リスト項目はネストしたリストよりも先にテキスト（段落）を持つ（さもなければリストマーカーが同じ行に並ぶ。）ので、リストは :first-child ではうまくいかない。生のテキストノードは使わない。 */
  & > :--list:first-of-type,
  & > :--margins-no-color:first-child {
    margin-block-start: 0;
  }

  & > :--margins-no-color:last-child {
    margin-block-end: 0;
  }
}

:--blockquote {
  /* NOTE: .horizontal/vertical.css の :--blockquote.horizontal 等に対抗するために詳細度を上げる。 */
  & > :where(:--margins-no-anchor):first-child:first-child {
    margin-block-start: 0;
  }

  /* :--margins のうち、margin-block-end よりも margin-block-start の方が長い、または同じもの。<blockquote> の下側では長い方の margin-block は取り除かない。 */
  & > :where(:--heading, p, details, :--blockquote):last-child:last-child {
    margin-block-end: 0;
  }
}

/* inline-axis layout */

ul, ol {
  padding-inline-start: 2em;
}

/* 100-9999 */
ol:has(li:nth-of-type(100)) {
  padding-inline-start: 3em;
}

dd {
  margin-inline-start: 2em;
}


:--blockquote {
  margin-inline: 0;
  border: 0 solid var(--color-indentation-guide-quotation);
  border-inline-width: calc(2 / 13 * 1rem);
  padding-inline: calc(1rem - 2 / 13 * 1rem);
  text-align: justify;
}

small:has(> p) {
  display: block;
}

pre {
  line-height: 1.618034; /* φ */
}

@media print {
  pre {
    white-space: pre-wrap;
    white-space: break-spaces;
  }
}

pre:has(code) {
  direction: ltr;
}

code {
  text-orientation: sideways;

  /* code の内部ではテキストの向きの変更を無視する。 */
  & * {
    text-orientation: revert !important;
  }
}

code.hljs {
  /* Overwrite highlight.js to be able to scroll to the right padding. */
  display: flex;
  display: -webkit-box;
  border-radius: 0.236068em; /* φ⁻² */
}

/* code:root, */
:not(pre) > code {
  padding-block: 0.236068em; /* φ⁻³ */
  padding-inline: 0.381966em; /* φ⁻² */
  border-radius: 0.236068em; /* φ⁻² */
}

kbd {
  text-orientation: sideways;
  padding-block: 0.236068em; /* φ⁻³ */
  padding-inline: 0.381966em; /* φ⁻² */
  border: 2px solid var(--color-background-code);
  border-radius: 0.236068em; /* φ⁻² */
}

:--heading {
  position: relative;
}

:target {
  animation: mark-once 2s;
}

@keyframes mark-once {
  50% {
    /* @extend mark; */
    background-color: var(--color-mark); /* TODO: Firefox で、訪問済みリンクの color をアニメーションで変更すると、アニメーションが終了する直前に一時的にリンクの色が未訪問リンクの色になる。この問題が解決したら、この行を削除し、前行のコメントを解除する。 */
  }
}

.header-anchor {
  display: inline-table;
  display: inline table;
  position: absolute;
  inset-inline-start: calc(-44 / 39 * 1em); /* Ensure that φ rem (minimum inline-start *margin*) ≥ φ (font-size of <h1>) 39/44 (its font-size) x em */
  font-size: calc(39 / 44 * 100%);
  line-height: calc(2 * 44 / 39);

  opacity: 0.1;

  @nest :--blockquote & {
    inset-inline-start: calc(-44 / 39 * 1em - 1rem); /* (the value of .header-anchor not in blockquote) - (blockquote indentation width) */
  }

  /* Not `@nest :--list-item &` because <dd> has inline-start margin. */
  @nest li & {
    inset-inline-start: calc(-44 / 39 * 1em - 2rem); /* (the value of .header-anchor not in list item) - (list item indentation width) */
  }
}

:hover > .header-anchor,
:target > .header-anchor {
  opacity: revert;
}

.kuntened {
  line-height: 2.5;
  text-align: initial;
}

.katex-display {
  padding-block: 2px;
  overflow-inline: auto;
  overflow-block: clip;
}

.katex * {
  font-style: revert;
  font-weight: revert;
  font-size: revert;
  font-family: revert;
}

.katex .vlist-t2.vlist-t2 {
  margin-right: revert;
}

.diagram-wrapper {
  margin-inline: auto;
  max-height: fit-content;
  max-width: fit-content;
  overflow-y: auto; /* Chrome */
  overflow-inline: auto;
}
.diagram-wrapper > figure {
  margin-inline: 0;
}
.mermaid {
  inline-size: fit-content;
  /* max-block-size: fit-content; */
}
figure > .mermaid {
  margin-inline: auto;
}

figure:has(.mermaid),
.mermaid {
  writing-mode: horizontal-tb;
}
figure:has(> .mermaid),
.mermaid {
  writing-mode: horizontal-tb;
}

.mermaid > svg {
  display: block;
  height: auto;
  width: auto;
}

.display-none {
  display: none;
}
