html {
  font-size: max(16px, min(2.106499vh, 2.106499vw)); /* v* = 2 φ³ rem + 39 rem */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-size-adjust: none;
  word-break: break-word;
}

.title-page {
  box-sizing: border-box;
  padding: clamp(1.618034rem, min(8.923272vh, 8.923272vw), 4.236068rem); /* φ, v* = (2 φ³ rem + 39 rem) * (padding / φ³ rem), φ³ */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-page {
  & > h1,
  & > p {
    margin-block: 0;
  }
}

.incipit {
  /*
  line-spacing = line-height * font-size - font-size
  line-spacing(body) = 2(1rem) - 1rem = 1rem
  line-spacing(incipit) = φ(φrem) - φrem = (φ-1)φrem = φ⁻¹φrem = 1rem
  */
  font-size: 161.8034%; /* φ */
  line-height: 1.618034; /* φ */

  float: left;
  float: inline-start;
  margin-inline-end: 1em;
}

.body {
  padding-block: clamp(1rem, min(7.647005vh, 7.647005vw), 2.618034rem); /* v* = (2 φ² rem + 29 rem) * (padding / φ² rem), φ² */
  padding-inline: clamp(1.618034rem, min(8.923272vh, 8.923272vw), 4.236068rem); /* φ, v* = (2 φ³ rem + 39 rem) * (padding / φ³ rem), φ³ */
}

.footnotes-list {
  font-size: 88.636364%; /* 39/44 */

  & > .footnote-item > p {
    display: contents; /* for Gecko */
  }
}

.footer {
  font-size: 88.636364%; /* 39/44 */

  padding-block: clamp(1rem, min(7.647005vh, 7.647005vw), 2.618034rem); /* v* = (2 φ² rem + 29 rem) * (padding / φ² rem), φ² */
  padding-inline: clamp(1.618034rem, min(8.923272vh, 8.923272vw), 4.236068rem); /* φ, v* = (2 φ³ rem + 39 rem) * (padding / φ³ rem), φ³ */

  & > ul {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

    & > li > a {
      display: flex;
    }
  }
}

/* block-axis layout */

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 1.618034em; /* φ */
  margin-block-end: 1em;

  inline-size: fit-content; /* Get Webkit outlines fit */
}

p, .blockquote-like {
  margin-block: 1em;
}

/* TODO: Merge those rulesets if the bugs of css-has-pseudo are fixed: */
ul, menu, ol, dl {
  margin-block-start: 1em;
  margin-block-end: 1.618034em; /* φ */
}
pre:has(code) {
  margin-block-start: 1em;
  margin-block-end: 1.618034em; /* φ */
}

dl > dt {
  margin-block-start: 1em;
}

h1, h2, h3, h4, h5, h6, p, .blockquote-like, ul, menu, ol, dl, pre {
  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

/* inline-axis layout */

ul, ol {
  padding-inline-start: 2em;
}

dd {
  margin-inline-start: 2em;
}


.blockquote-like {
  margin-inline: 0;
  border-inline-start: 0.125rem solid #453ccc; /* 2/16 */

  & > p {
    margin-inline-start: calc(1em - 0.125rem); /* 2/16 */
  }
}

/* TODO: Swap blockquote and .blockquote-like when postcss-extend-rule gets better */
blockquote {
  @extend .blockquote-like;
}

pre {
  line-height: 1.618034; /* φ */
}

code {
  text-orientation: sideways;
}

code.hljs {
  border-radius: 0.381966em; /* φ⁻² */
}

/* code:root, */
:not(pre) > code {
  padding-block: 0.236068em; /* φ⁻³ */
  padding-inline: 0.381966em; /* φ⁻² */
  border-radius: 0.381966em; /* φ⁻² */
}

.hidden {
  display: none !important;
}
