:root {
  --color-indentation-guide-quotation: #565acf;
  --color-octicon: black;
  --color-border: #7f7f7f;
}

html {
  line-height: 2;
  text-size-adjust: none;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

html:lang(ar),
html:lang(arc),
html:lang(dv),
html:lang(fa),
html:lang(ha),
html:lang(he),
html:lang(iw),
html:lang(khw),
html:lang(ks),
html:lang(ku),
html:lang(ps),
html:lang(ur),
html:lang(yi) {
  direction: rtl;
}

/* Set a proper direction when <html> has a lang attribute of an RtL language and has no dir attribute. For translators like Google Translate. */
html:lang(ar, arc, dv, fa, ha, he, iw, khw, ks, ku, ps, ur, yi) {
  direction: rtl;
}

body {
  display: flex; /* Prevents margins of .body and .footer from offsetting, also */
  flex-direction: column;
  justify-content: space-between;
  margin-inline: auto;
}

.main {
  /* Prevents margins of .title-page and .body from offsetting */
  display: flex;
  flex-direction: column;
}

.title-page {
  box-sizing: border-box;
  margin: clamp(
    1.618034rem, /* φ */
    100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
    4.236068rem /* φ³ */
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-page {
  & > h1,
  & > p {
    margin-block: 0;
  }
}

.incipit {
  /*
  line-spacing = line-height * font-size - font-size
  line-spacing(body) = 2(1rem) - 1rem = 1rem
  line-spacing(incipit) = φ(φrem) - φrem = (φ-1)φrem = φ⁻¹φrem = 1rem
  */
  font-size: 161.8034%; /* φ */
  line-height: 1.618034; /* φ */

  float: left;
  float: inline-start;
  margin-inline-end: 1em;
}

.body {
  margin-block: clamp(
    1rem,
    100vmin * 2.618034 / (2 * 2.618034 + 29), /* φ² */
    2.618034rem /* φ² */
  );

  margin-inline: clamp(
    1.618034rem, /* φ */
    100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
    4.236068rem /* φ³ */
  );
}

hr {
  /* same as that of .body */
  margin-block: clamp(
    1rem,
    100vmin * 2.618034 / (2 * 2.618034 + 29), /* φ² */
    2.618034rem /* φ² */
  );

  /* border-style: inset; */
  border-color: var(--color-border);
}

.footnotes-list {
  font-size: calc(39 / 44 * 100%);

  & > .footnote-item > p {
    display: contents; /* for Gecko */
  }
}

.footer {
  font-size: calc(39 / 44 * 100%);

  margin-block: clamp(
    1rem,
    100vmin * 2.618034 / (2 * 2.618034 + 29), /* φ² */
    2.618034rem /* φ² */
  );

  margin-inline: clamp(
    1.618034rem, /* φ */
    100vmin * 4.236068 / (2 * 4.236068 + 39), /* φ³ */
    4.236068rem /* φ³ */
  );

  & > ul {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    & > li {
      flex: auto;
      max-inline-size: calc(32px * 1.618034); /* φ */

      display: flex;
      justify-content: flex-end;
    }

    & > li > a {
      display: flex;
    }
  }
}

h1 { font-size: 161.8034% } /* φ^(5/5) */
h2 { font-size: 146.9569% } /* φ^(4/5) */
h3 { font-size: 133.4727% } /* φ^(3/5) */
h4 { font-size: 121.2258% } /* φ^(2/5) */
h5 { font-size: 110.1026% } /* φ^(1/5) */
h6 { font-size: 100% } /* φ^(0/5) */

/* block-axis layout */

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 1.618034em; /* φ */
  margin-block-end: 1em;

  inline-size: fit-content; /* Get Webkit outlines fit */
}

p, .blockquote-like {
  margin-block: 1em;
}

/* TODO: Merge those rulesets if the bugs of css-has-pseudo are fixed: */
ul, menu, ol, dl {
  margin-block-start: 1em;
  margin-block-end: 1.618034em; /* φ */
}
pre:has(code) {
  margin-block-start: 1em;
  margin-block-end: 1.618034em; /* φ */
}

dl > dt {
  margin-block-start: 1em;
}

:not(:where(li, dd, blockquote, .blockquote-like)) {
  & > :is(h1, h2, h3, h4, h5, h6, p, blockquote, .blockquote-like, ul, menu, ol, dl, pre):first-child {
    margin-block-start: 0;
  }

  & > :is(h1, h2, h3, h4, h5, h6, p, blockquote, .blockquote-like, ul, menu, ol, dl, pre):last-child {
    margin-block-end: 0;
  }
}

/* NOTE: li/dd 全体が blockquote の場合、margin を取り除くとインデントガイドが繋がってしまふ。 */
:where(li, dd) {
  /* NOTE: おそらく markdown-it の仕様で、最後でない list item の下に空行を置くと、同じレベルの list item の最初の段落（になれるテキスト）が全て段落になる。これの余白は不要なので取り除く。 */
  & > p {
    margin-block: 0;
  }

  /* NOTE: li/dd はネストしたリストよりも先にテキスト（段落）を持つので、リストは :first-child ではうまくいかない。 */
  & > :is(ul, menu, ol, dl):first-of-type,
  & > :is(/* h1, h2, h3, h4, h5, h6, */pre):first-child {
    margin-block-start: 0;
  }

  & > :is(/* h1, h2, h3, h4, h5, h6, */ul, menu, ol, dl, pre):last-child {
    margin-block-end: 0;
  }
}

/* blockquote の真下では長い方の margin-block は取り除かない。 */
:where(blockquote, .blockquote-like) {
  & > :is(p, blockquote, .blockquote-like, ul, menu, ol, dl, pre):first-child {
    margin-block-start: 0;
  }

  & > :is(h1, h2, h3, h4, h5, h6, p, blockquote, .blockquote-like):last-child {
    margin-block-end: 0;
  }
}

/* inline-axis layout */

ul, ol {
  padding-inline-start: 2em;
}

dd {
  margin-inline-start: 2em;
}


.blockquote-like {
  margin-inline: 0;
  border: 0 solid var(--color-indentation-guide-quotation);
  border-inline-width: calc(2 / 14 * 1rem);
  padding-inline: calc(1rem - 2 / 14 * 1rem);
  text-align: justify;
}

/* TODO: Swap blockquote and .blockquote-like when postcss-extend-rule gets better */
blockquote {
  @extend .blockquote-like;
}

pre {
  line-height: 1.618034; /* φ */
}

code {
  text-orientation: sideways;
}

code.hljs {
  border-radius: 0.381966em; /* φ⁻² */
}

/* code:root, */
:not(pre) > code {
  border-radius: 0.381966em; /* φ⁻² */
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

:target {
  animation: mark-once 2s;
}

@keyframes mark-once {
  50% {
    /* @extend mark; */
    background-color: var(--color-mark); /* TODO: Firefox で、訪問済みリンクの color をアニメーションで変更すると、アニメーションが終了する直前に一時的にリンクの色が未訪問リンクの色になる。この問題が解決したら、この行を削除し、前行のコメントを解除する。 */
  }
}

.header-anchor {
  display: inline-table;
  position: absolute;
  inset-block: 0; /* for Gecko */
  inset-inline-start: calc(-44 / 39 * 1em); /* Ensure that φ rem (minimum inline-start *margin*) ≥ φ (font-size of <h1>) 39/44 (its font-size) x em */
  font-size: calc(39 / 44 * 100%);
  line-height: calc(2 * 44 / 39);

  opacity: 0.1;

  @nest .blockquote-like & {
    inset-inline-start: calc(-44 / 39 * 1em - 1rem); /* (the value of .header-anchor not in blockquote) - (blockquote indentation width) */
  }

  @nest :is(li, dd) & {
    inset-inline-start: calc(-44 / 39 * 1em - 2rem); /* (the value of .header-anchor not in list item) - (list item indentation width) */
  }
}

:hover > .header-anchor,
:target > .header-anchor {
  opacity: revert;
}

.hidden {
  display: none !important;
}
