:root {
  --color-background: #fffefb;
  --color-text: #675640;
  --color-link: dodgerblue;
  --color-visited: darkorchid;
  --color-background-code: #ece5df;
  --color-mark: #fe0d;
}

html {
  font-variant-ligatures: common-ligatures;
  text-align: justify;
  text-spacing: trim-start allow-end trim-adjacent;

  background-color: var(--color-background);
  color: var(--color-text);
}

.footer {
  & > ul > li > a {
    border-style: none;
  }
}

.octicon-link:any-link {
  color: var(--color-octicon);
}

.octicon {
  fill: currentColor;
}

.incipit {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6,
dl > dt,
dl > div > dt {
  font-weight: unset;
}

p {
  /* TODO: ぶら下げられた約物を除いて両端揃えする */
  /* NOTE: On Safari 10 `force-end` for hanging-punctuation is recognized but broken */
  hanging-punctuation: allow-end last;
  /* hanging-punctuation: force-end last; */
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline dashed;
  }

  &:active {
    text-decoration: underline;
  }
}

a:link {
  color: var(--color-link);
}

a:visited {
  color: var(--color-visited);
}

code {
  font-variant-ligatures: none;
  background-color: var(--color-background-code);
}

ruby {
  ruby-align: center;
  ruby-overhang: auto;
}

ruby rt {
  text-transform: full-size-kana;
}

ruby rt:where(:not(:lang(ja))) {
  text-align: center;
}

.kaeriten {
  font-size: 50%;
  vertical-align: sub;
}

mark {
  background-color: var(--color-mark);
  color: currentColor;
}

strong {
  font-weight: revert; /* bold */
}

sup, sub {
  line-height: 1;
}

.warichu {
  text-combine: lines; /* NOTE: 主要ブラウザーでの実装無し */
}

.sans-serif {
  all: unset;
  font-family: var(--font-text-emphasized);
}
