:root {
  --font-text: serif;
  --font-text-emphasized: system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
  --font-code: Menlo, Consolas, monospace;
  --font-text-ja: "YuMincho +36p Kana", "Yu Mincho", serif;
  --font-text-emphasized-ja: "Hiragino Sans", "Yu Gothic", sans-serif;
  --font-code-ja: CodeM, Myrica, Ricty, "Source Han Code JP", monospace;
}

body {
  --background-color: #fffefb;
  --text-color: #675640;
  --link-color: dodgerblue;
  --visited-color: darkorchid;
  --code-background-color: #ece5df;

  line-height: 2;

  font-family: var(--font-text);
  &:where(:lang(ja)) {
    font-family: var(--font-text-ja);
  }

  font-variant-ligatures: common-ligatures;

  background-color: var(--background-color);
  color: var(--text-color);
}

.footer {
  & > ul > li > a {
    border-style: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 { font-size: 161.8034% } /* φ^(5/5) */
h2 { font-size: 146.9569% } /* φ^(4/5) */
h3 { font-size: 133.4727% } /* φ^(3/5) */
h4 { font-size: 121.2258% } /* φ^(2/5) */
h5 { font-size: 110.1026% } /* φ^(1/5) */
h6 { font-size: 100% } /* φ^(0/5) */

h1, h2, h3, h4, h5, h6,
dl > dt,
dl > div > dt {
  font-family: var(--font-text-emphasized);
  &:where(:lang(ja)) {
    font-family: var(--font-text-emphasized-ja);
  }
}

p {
  hanging-punctuation: allow-end;
  /* hanging-punctuation: force-end; */
}

a {
  text-decoration: none;
  border-block-start-width: 0;
  border-inline-width: 0;
  border-block-end-width: 0.0625rem; /* 1px when font-size = 16px (minimum) */
  border-color: currentColor;

  &:hover {
    border-style: dashed;
  }

  &:active {
    border-style: solid;
  }
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-color);
}

code {
  font-family: var(--font-code);
  &:where(:lang(ja)) {
    font-family: var(--font-code-ja);
  }

  font-variant-ligatures: none;
  background-color: var(--code-background-color);
}
