.vertical {
  writing-mode: revert;
}

%revert-class-vertical {
  writing-mode: revert;
}

.vertical p,
p.vertical {
  margin-inline: 0;
  margin-block: 1em;

  width: revert;
  min-height: revert;
  max-height: revert;
  overflow-x: revert;
  overflow-inline: revert;
}
