/* Keep contrasting with horizontal.css */

:root {
  writing-mode: vertical-rl;

  & body {
    min-block-size: 100vw;
    min-block-size: 100vb;

    font-kerning: revert;
    font-feature-settings: "vkrn", "vkna";
    text-align: justify;
  }

  & .title-page {
    min-block-size: 38.196601vh; /* width/height = φ² */
    min-block-size: 38.196601vi; /* width/height = φ² */
  }

  & .digits {
    -webkit-text-combine: horizontal; /* for Webkit and Blink */
    text-combine-upright: all; /* for Blink and Gecko */
    text-combine-upright: digits 2;
  }
}
