/* Keep contrasting with horizontal.css */

html {
  writing-mode: vertical-rl;
  font-kerning: revert;
  font-feature-settings: "vkrn", "vkna"; /* Don't set "vpal" */
  text-align: justify;
}

body {
  min-block-size: 100vw;
  min-block-size: 100vb;
}

.title-page {
  min-block-size: 38.196601vh; /* width/height = φ² */
  padding-block: clamp(1.618034rem, 8.923272vw, 4.236068rem);
  padding-inline: clamp(1.618034rem, 8.923272vh, 4.236068rem);
  min-block-size: 38.196601vi; /* width/height = φ² */
  padding-block: clamp(1.618034rem, 8.923272vb, 4.236068rem); /* φ, vb = (2 φ³ rem + 39 rem) * (padding / φ³ rem), φ³ */
  padding-inline: clamp(1.618034rem, 8.923272vi, 4.236068rem); /* φ, vi = (2 φ³ rem + 39 rem) * (padding / φ³ rem), φ³ */
}

.body, .footer {
  padding-block: clamp(1rem, 7.647005vw, 2.618034rem);
  padding-inline: clamp(1.618034rem, 8.923272vh, 4.236068rem);
  padding-block: clamp(1rem, 7.647005vb, 2.618034rem); /* vb = (2 φ² rem + 29 rem) * (padding / φ² rem), φ² */
  padding-inline: clamp(1.618034rem, 8.923272vi, 4.236068rem); /* φ, vi = (2 φ³ rem + 39 rem) * (padding / φ³ rem), φ³ */
}

.footnote-ref,
.footnote-backref {
  @extend .upright;
}

.footnote-ref {
  font-feature-settings: "vkrn", "vkna", "fwid", "vpal"; /* .upright + "vpal" */
}

ol {
  list-style-type: cjk-ideographic;
}

b:where(:lang(ja)) {
  @extend .upright;

  font-style: unset;
  text-emphasis-style: sesame;
  text-emphasis-position: over right;
  text-decoration: revert;
}

/* NOTE: 和文中の欧文はデフォルトで text-orientation: sideways のやうに表示されるが、その場合、 font-feature-settings は変更されない。 */
/* See also: JIS X 4051:2004 4.7 b */
.sideways {
  font-feature-settings: "hkna";
  &:where(:not(:lang(ja))) {
    font-feature-settings: "palt", "hkna";
  }

  text-orientation: sideways;
}

/* See also: JIS X 4051:2004 4.7 b 備考 */
.upright {
  font-feature-settings: "vkrn", "vkna", "fwid";
  text-orientation: upright;
}

/* See also: JIS X 4051:2004 4.8 */
.tate-chu-yoko {
  -webkit-text-combine: horizontal; /* for Webkit */
  text-combine-upright: all;
}

.header-anchor {
  @extend .upright;
}

/* Keep contrasting with h# block-axis layout defined in layout.css */
:is(h1, h2, h3, h4, h5, h6):is([id]) /*- :has(.header-anchor) */ {
  scroll-margin-top: 0;
  scroll-margin-bottom: 0;
  scroll-margin-right: 1.618034em; /* φ */
  scroll-margin-left: 1em; /* NOTE: Firefox (92.0) では水平方向に移動するページ内リンクはアンカーがスクリーンに収まるまでの最小距離を移動するので、アンカーがスクリーンの左側にある場合、この値が意味を持つことがある。 */
  scroll-margin-block-start: 1.618034em; /* φ */
  scroll-margin-block-end: 1em; /* ditto */
}

.footnote-ref a[id] {
  scroll-margin: 0 1em;
  scroll-margin-block: 1em;
  scroll-margin-inline: 0;
}

.footnotes-list {
  & li:is([id]) {
    scroll-margin: 0 0.5em;
    scroll-margin-block: 0.5em; /* half of (line-height - 1em) */
    scroll-margin-inline: 0;
  }
}
