/* Keep contrasting with horizontal-gecko.css */

/* code:root, */
:not(pre) > code {
  padding-block-start: 0;
  padding-block-end: calc(2 * 0.236068em); /* φ⁻³ */
  position: relative;
  inset-block-end: 0.236068em; /* φ⁻³ */
}

/* text.css */
a {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}
