ErrorDocument 403 /http/403.html
ErrorDocument 404 /http/404.html

<If "%{REQUEST_URI} =~ /\bja\b/">
  ErrorDocument 403 /http/403-ja.html
  ErrorDocument 404 /http/404-ja.html
</If>

RewriteEngine On
RewriteBase /

RewriteCond %{SERVER_PORT} 80
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R=308,L]

RewriteCond %{HTTP_HOST} ^www\. [OR]
RewriteCond %{HTTP_HOST} \.$
RewriteRule ^.*$ https://sueka.me%{REQUEST_URI} [R=308,L]

RewriteRule ^(.+/)*index\.html?$ $1 [R=308,L]

Options -MultiViews

ExpiresActive On
ExpiresByType text/css A604800
ExpiresByType text/html A604800
ExpiresByType text/javascript A604800
ExpiresDefault A1209599
