---
layout: none
title: Tag list
---

<!DOCTYPE html>

{% assign self-lang = site.lang %}

<html lang="{{ self-lang }}">
<head>
<title>{{ page.title }}</title>
{% include head.inc %}
</head>
<body>
<h1>{{ page.title }}</h1>

{% assign in-langs = site.data.languages | where: 'langcode', self-lang %}
{% for _ in in-langs %}{% assign date-format-in-lang = _.date-format %}{% endfor %}

{% for tag in site.tags %}
  <section id="tag_{{ tag[0] }}">
    <h2>{{ tag[0] }}</h2>
    <ul>
    {% for post in tag[1] %}
      {% assign post-lang = post.lang | default: site.lang %}
      {% comment %} May specified "lang: en" in the post {% endcomment %}
      <li>{{ post.date | date: date-format-in-lang }} - <a {% if post-lang != self-lang %} lang="{{ post-lang }}" {% endif %} href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </section>
{% endfor %}

{% include footer.inc this-lang=self-lang %}

</body>
</html>
