{% if not nocolophon -%}
<footer class="colophon">
  <div class="colophon-container horizontal">
    <div class="colophon-title">
      {% if title_rubied -%}
        {% set title = title_rubied | md(true) | safe -%}
      {% elif title -%}
        {% set title = title | md(true) | safe | striptags -%}
      {% endif -%}

      {% if not title -%}
        {% set incipit = content | safe | getIncipit -%}
      {% endif -%}

      {{ title or incipit }}
    </div>
    <div class="divider"></div>
    <div class="colophon-dates">
      <meta itemprop="datePublished" content="{{ date | date('DATE') }}" />
      <time datetime="{{ date | date('DATE') }}">{{ date | date('HUMAN_DATE', 'ja') | replace(r/(\d+|\D+)/g, '<span>$1</span>') | safe }}</time>
      公開
      {%- if lastmod %}
      <meta itemprop="dateModified" content="{{ lastmod | date('DATE') }}" />
      <time datetime="{{ lastmod | date('DATE') }}">{{ lastmod | date('HUMAN_DATE', 'ja') | replace(r/(\d+|\D+)/g, '<span>$1</span>') | safe }}</time>
      更新
      {%- endif %}
    </div>
    <ul class="colophon-attrs">
      <li><a href="{{ url | url(true) }}">このページのパーマリンク</a></li>
      <li><a href="https://github.com/{{ site.github_repo }}/blob/{{ gitCommitHash }}/src{{ src }}" rel="external">{{ gitCommitHash }}</a></li>
    </ul>
  </div>
</div>
{%- endif %}
