<footer class="footer">
  <ul>
    <li>
      <a href="https://twitter.com/hsueka" rel="external">
        <img height="32" width="32" src="{{ '~/Logo blue.svg' | url(true) }}" />
      </a>
    </li>
    <li>
      <a href="https://github.com/{{ site.github_repo }}/blob/{{ gitCommitHash }}/src{{ src }}" rel="external" class="github-link">
        {#- FIXME: inline-size: 2rem #}
        {% octicon 'mark-github', { width: 32 } %}
      </a>
    </li>
  </ul>
</footer>
