<footer class="footer">
  <p>
    <a href="{{ '~/index.md' | url }}">{{ site.name }}</a> のソースコードは <a href="{{ site.license.url }}" rel="external">{{ site.license.nickname }}</a> でライセンスされ、 GitHub 上のリポジトリ <a href="https://github.com/{{ site.github_repo }}" rel="external">{{ site.github_repo }}</a> で公開されてゐます。
  </p>
</footer>
