<!DOCTYPE html>
<html
  {%- if language %} lang={{ language }} {%- endif -%}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }} {%- if title !== site.name %} - {{ site.name }} {%- endif %}</title>
    <link href="{{ '~/main.css' | url }}" rel="stylesheet" />
    <link href="{{ '~/horizontal.css' | url }}" rel="stylesheet" />
    <link href="{{ '~/vertical.css' | url }}" rel="stylesheet" />
    <link href="{{ '~/feed.xml.njk' | url }}" rel="alternate" type="application/atom+xml" title="{{ site.name }}" />
  </head>
  <body>
    <main class="main">
      {% include 'templates/title-page.njk' %}
      <div class="body">
        {{ content | safe }}
      </div>
    </main>
    {% include 'templates/footer.njk' %}
  </body>
</html>
