{% set language = language or site.language -%}

{% if title -%}
  {% set titleText = title | safe | striptags -%}
{% endif -%}

{% if not title -%}
  {% set incipit = content | safe | getIncipit -%}
{% endif -%}

{% set prefersVertical = vertical or vertical == null and language === 'ja' -%}

<!DOCTYPE html>
<html
  {%- if language %} lang={{ language }} {%- endif -%}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {{- titleText or incipit }}
      {%- if titleText !== site.name and incipit !== site.name %} - {{ site.name }} {%- endif -%}
    </title>
    <link href="{{ '~/assets/stylesheets/main.css' | url(true) }}" rel="stylesheet" />
    <link href="{{ '~/assets/stylesheets/dark.css' | url(true) }}" rel="stylesheet" media="(prefers-color-scheme: dark)" />

    {%- if prefersVertical %}
    <link href="{{ '~/assets/stylesheets/horizontal.css' | url(true) }}" rel="stylesheet" />
    {#- Keep using physical, not logical #}
    {#- ⌈(27 / 39) * (2 * 4.236068 + 39) * 14⌉; 2 * 8.923272/100 MinHeight(rem) + 27 rem ≤ MinHeight(rem); when vg ≥ 290px following from 14px ≤ rem ≤ 2.106499vg ∧ φ rem ≤ inline padding ≤ 8.923272vg #}
    <link href="{{ '~/assets/stylesheets/vertical.css' | url(true) }}" rel="stylesheet" media="(min-height: 461px)" id="linkToVerticalCss" />
    {%- else %}{# Prefers horizontal #}
    {# id は無くてもよいが、対称性のために残してある。 #}
    <link href="{{ '~/assets/stylesheets/vertical.css' | url(true) }}" rel="stylesheet" id="linkToVerticalCss" />
    <link href="{{ '~/assets/stylesheets/horizontal.css' | url(true) }}" rel="stylesheet" />
    {%- endif %}

    <link href="{{ '~/assets/stylesheets/horizontal.css' | url(true) }}" rel="stylesheet alternate" title="Prefer horizontal" />
    <link href="{{ '~/assets/stylesheets/vertical.css' | url(true) }}" rel="stylesheet alternate" title="Prefer vertical" />

    {#- NOTE: Script is loaded in _config.js #}
    <link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/gradient-light.min.css" rel="stylesheet" media="(prefers-color-scheme: light)" />
    <link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/gradient-dark.min.css" rel="stylesheet" media="(prefers-color-scheme: dark)" />

    <link href="{{ '~/feed.xml.njk' | url(true) }}" rel="alternate" type="application/atom+xml" title="{{ site.name }}" />
    <script src="https://unpkg.com/css-has-pseudo@1.0.0/browser"></script>
    <script>
      cssHasPseudo(document)
    </script>
    <script src="{{ '~/assets/scripts/main.js.njk' | url(true) }}"></script>

    {% if he %}
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+Hebrew|Noto+Sans+Hebrew" rel="stylesheet" />
    {% endif %}
  </head>
  <body>
    <main class="main">
      {% if title -%} {% include 'templates/title-page.njk' %} {%- endif %}
      <div class="body">
        {{ content | safe }}
      </div>
      {% if not nocolophon -%} {% include 'templates/colophon.njk' %} {%- endif %}
    </main>
    {% include 'templates/footer.njk' %}
  </body>
</html>
