import('https://ga.jspm.io/npm:bowser@2.11.0/es5.js').then(({ default: Bowser }) => {
  const browser = Bowser.getParser(navigator.userAgent)

  const isGecko = browser.isEngine('Gecko')
  const isSafari = browser.isBrowser('Safari')

  if (!isGecko && !isSafari) {
    return
  }

  const links = document.querySelectorAll('link[href$="{{ "~/assets/stylesheets/vertical.css" | url }}"]')

  for (const link of links) {
    if (isGecko) {
      const linkForGecko = link.cloneNode()

      linkForGecko.href = linkForGecko.getAttribute('href').replace(/(?=\.css$)/, '-gecko')
      document.head.insertBefore(linkForGecko, link.nextSibling)
    }

    if (isSafari) {
      const linkForWebkit = link.cloneNode()

      linkForWebkit.href = linkForWebkit.getAttribute('href').replace(/(?=\.css$)/, '-safari')
      document.head.insertBefore(linkForWebkit, link.nextSibling)
    }
  }
})
