window.addEventListener('touchstart', () => {})

import('https://ga.jspm.io/npm:bowser@2.11.0/es5.js').then(({ default: Bowser }) => {
  const browser = Bowser.getParser(navigator.userAgent)

  const isGecko = browser.isEngine('Gecko')
  const isBlink = browser.isEngine('Blink')
  const isSafari = browser.isBrowser('Safari')

  if (!isGecko && !isBlink && !isSafari) {
    return
  }

  const links = document.querySelectorAll('link[href$="{{ "~/assets/stylesheets/horizontal.css" | url }}"], link[href$="{{ "~/assets/stylesheets/vertical.css" | url }}"]')

  for (const link of links) {
    if (isGecko) {
      const linkForGecko = link.cloneNode()

      linkForGecko.href = linkForGecko.getAttribute('href').replace(/(?=\.css$)/, '-gecko')
      document.head.insertBefore(linkForGecko, link.nextSibling)
    }

    if (isBlink) {
      const linkForBlink = link.cloneNode()

      linkForBlink.href = linkForBlink.getAttribute('href').replace(/(?=\.css$)/, '-blink')
      document.head.insertBefore(linkForBlink, link.nextSibling)
    }

    if (isSafari) {
      const linkForWebkit = link.cloneNode()

      linkForWebkit.href = linkForWebkit.getAttribute('href').replace(/(?=\.css$)/, '-safari')
      console.log(linkForWebkit)
      document.head.insertBefore(linkForWebkit, link.nextSibling)
    }
  }
})

// 機械翻訳などによって <html lang> が "ja" 以外に変更されたとき、縦書き用のスタイルシートを無効化し、デフォルトで横書き表示されるようにする。ただし、代替スタイルシートは残す。
;(() => {
  const links = document.querySelectorAll('.linkToVerticalCss')

  // Skip on horizontal-writing pages
  if (links.length === 0) {
    return
  }

  window.addEventListener('DOMContentLoaded', () => {
    const observer = new MutationObserver((mutations) => {
      for (const mutation of mutations) {
        if (mutation.type === 'attributes' && mutation.attributeName === 'lang') {
          for (const link of links) {
            link.disabled = mutation.target.lang !== 'ja'
          }
        }
      }
    })

    observer.observe(document.documentElement, { attributes: true })
  })
})()

;(() => {
  const observer = new MutationObserver((mutations) => {
    for (const mutation of mutations) {
      if (mutation.type === 'childList') {
        for (const node of mutation.addedNodes) {
          if (node instanceof SVGSVGElement) {
            mutation.target.dataset.intrinsicWidth = node.width.baseVal.value
          }
        }
      }
    }
  })

  window.addEventListener('DOMContentLoaded', () => {
    const mermaids = document.querySelectorAll('.mermaid')

    for (const mermaid of mermaids) {
      observer.observe(mermaid, { childList: true })

      resizeMermaid(mermaid)

      window.addEventListener('resize', () => {
        resizeMermaid(mermaid)
      })
    }
  })
})()

// Mermaid ダイアグラムのサイズを rem に合わせて調整する。
function resizeMermaid(mermaid) {
  const root = document.querySelector(':root')
  const rem = window.getComputedStyle(root).fontSize

  const svg = mermaid.querySelector('svg')
  const intrinsicWidth = mermaid.dataset.intrinsicWidth

  if (svg === null || intrinsicWidth === undefined) {
    return
  }

  svg.style.width = `calc(${ intrinsicWidth } * ${ rem } / 16)`
}
