/**
 * 横書きのページで、部分的な縦書きを実現する。
 *
 * **実装上の注意**
 * : horizontal.css が優先されているときもうまく動くようにするため、詳細度を `:where` 等で下げてはならない。
 *
 * <!-- FIXME: 自動展開したい -->
*/

/* cf. ./vertical.css */

.vertical {
  writing-mode: vertical-rl;
}

/* .vertical を元に戻す */
%revert-class-vertical {
  writing-mode: revert;
  writing-mode: horizontal-tb; /* Safari (15.1, iOS 15.2) では継承するか直接指定するかで振る舞いが変わることがあるので、明示的に指定している。 TODO: Delete this line */
}

.vertical p,
p.vertical {
  /* layout.css */
  margin: 1em 0;

  width: 100%;
  min-height: 461px; /* Same as in page.njk */
  max-height: 61.8034vh; /* φ⁻¹ */
  overflow-x: auto;
  overflow-inline: auto;
}

/* TODO: blockquote > p 以外の構造でもうまく動くようにする? */
blockquote.vertical {
  /* インデントガイドを .vertical でない blockquote と同じように表示するために、一度 .vertical を元に戻し、p で改めて .vertical を適用する。 */
  @extend %revert-class-vertical;

  overflow-x: auto;
  overflow-inline: auto;
}

blockquote.vertical > p {
  @extend .vertical;

  margin: 0;
}

.blockquote-like {
  @extend blockquote;
}

.vertical em,
em.vertical {
  font-style: normal;
  font-family: var(--font-text-emphasized);

  & :where([lang]) {
    font-family: var(--font-text-emphasized);
  }
}
