/**
 * 横書きのページで、部分的な縦書きを実現する。
 *
 * **実装上の注意**
 * : horizontal.css が優先されているときもうまく動くようにするため、詳細度を `:where` 等で下げてはならない。
 *
 * <!-- FIXME: 自動展開したい -->
*/

/* cf. ./vertical.css */

%vertical {
  writing-mode: vertical-rl;
}

.vertical {
  @extend %vertical;
}

/* .vertical を元に戻す */
%revert-class-vertical {
  writing-mode: revert;
  writing-mode: horizontal-tb; /* Safari (15.1, iOS 15.2) では継承するか直接指定するかで振る舞いが変わることがあるので、明示的に指定している。 TODO: Delete this line */
}

.vertical p,
p.vertical {
  /* layout.css */
  margin: 1em 0;

  width: 100%;
  height: max-content;
  max-height: max(461px, 100vmin - 2em); /* Same as in page.njk, vertical margin */
  @media (orientation: landscape) {
    max-height: max(461px, 100vh - 2em);
  }
  overflow-x: auto;
  overflow-inline: auto;
}

/* TODO: blockquote > p 以外の構造でもうまく動くようにする? */
blockquote.vertical {
  margin: 1em 0; /* ./reset.css */
  border-width: 0 calc(2 / 14 * 1rem);
  padding: 0 calc(1rem - 2 / 14 * 1rem);
  box-sizing: border-box;
  width: 100%;
  height: revert;
  overflow-x: auto;
  overflow-y: revert;
}

blockquote.vertical > p {
  @extend %vertical;

  margin: revert;
  width: revert;
}

.blockquote-like {
  @extend blockquote;
}

.vertical em,
em.vertical {
  font-style: normal;
  font-family: var(--font-text-emphasized);
}

/* .vertical em,
em.vertical, */
.vertical em :where([lang]),
em.vertical :where([lang]),
em .vertical:where([lang]) {
  font-style: italic;
}

/* Same as in vertical.css */
.vertical .upright,
.upright.vertical {
  font-feature-settings: "vkrn", "vkna", "fwid";
  text-orientation: upright;
}

.vertical .tate-chu-yoko,
.tate-chu-yoko.vertical {
  -webkit-text-combine: horizontal; /* for Webkit */
  text-combine-upright: all;
}
