.vertical {
  writing-mode: revert;
}

%revert-class-vertical {
  writing-mode: revert;
  writing-mode: vertical-rl; /* Safari (15.1, iOS 15.2) では継承するか直接指定するかで振る舞いが変わることがあるので、明示的に指定している。 TODO: Delete this line */
}

.vertical p,
p.vertical {
  margin-inline: 0;
  margin-block: 1em;

  width: revert;
  min-height: revert;
  max-height: revert;
  overflow-x: revert;
  overflow-inline: revert;
}

blockquote.vertical {
  /* インデントガイドを .vertical でない blockquote と同じように表示するために、一度 .vertical を元に戻し、p で改めて .vertical を適用する。 */
  @extend %revert-class-vertical;

  overflow-x: revert;
  overflow-inline: revert;
}

blockquote.vertical > p {
  @extend .vertical;

  margin-inline: 0;
  margin-block: 1em;
}

.blockquote-like {
  @extend blockquote;
}
