/* Keep contrasting with ./horizontal.css */

/* ../text.css */
a:lang(ja),
a:lang(jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

a:lang(ja, jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

u {
  text-decoration-line: overline; /* left */
}
