/* Keep contrasting with ./horizontal.css */

/* ../text.css */
a:lang(ja),
a:lang(jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

a:lang(ja, jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

/* TODO: Delete this ruleset */
.horizontal a:lang(ja):hover,
.horizontal a:lang(jpn-archaic):hover,
a:lang(ja).horizontal:hover,
a:lang(jpn-archaic).horizontal:hover {
  text-decoration: revert;
  text-decoration-style: dashed;
}

.horizontal a:lang(ja, jpn-archaic):hover,
a:lang(ja, jpn-archaic).horizontal:hover {
  text-decoration: revert;
  text-decoration-style: dashed;
}

/* TODO: Delete this ruleset */
.horizontal a:lang(ja):active,
.horizontal a:lang(jpn-archaic):active,
a:lang(ja).horizontal:active,
a:lang(jpn-archaic).horizontal:active {
  text-decoration: revert;
}

.horizontal a:lang(ja, jpn-archaic):active,
a:lang(ja, jpn-archaic).horizontal:active {
  text-decoration: revert;
}

u {
  text-decoration-line: overline; /* left */
}

.horizontal u,
u.horizontal {
  text-decoration-line: revert;
}
