// magic number description
//
// φ := (1 + √5) / 2
// round x := (roundHalfAwayFromZero (1000 * x)) / 1000
// 0.146 = round φ⁻⁴
// 0.236 = round φ⁻³
// 0.382 = round φ⁻²
// 0.618 = round φ⁻¹
// 0.786 = round √φ⁻¹
// 0.887 = round √√φ⁻¹
// 1.101 = round ⁵√φ
// 1.127 = round √√φ
// 1.212 = round ⁵√φ²
// 1.272 = round √φ
// 1.335 = round ⁵√φ³
// 1.434 = round √√φ³
// 1.470 = round ⁵√φ⁴
// 1.618 = round φ
// 1.824 = round √√φ⁵
// 2.618 = round φ²
// 4.236 = round φ³
// 4.854 = round φ³ + φ⁻¹

//
//                      _|            _|
//  _|    _|  _|_|_|          _|_|_|  _|    _|_|_|    _|_|_|    _|_|_|
//  _|    _|  _|    _|  _|  _|        _|  _|    _|  _|_|      _|_|
//  _|    _|  _|    _|  _|  _|        _|  _|    _|      _|_|      _|_|
//    _|_|_|  _|    _|  _|    _|_|_|  _|    _|_|_|  _|_|_|    _|_|_|
//
//

.plain {
  margin: unset;
  border: unset;
  padding: unset;
  font: unset;
}

.display-none {
  display: none;
}

//
//                                  _|            _|        _|
//  _|      _|    _|_|_|  _|  _|_|        _|_|_|  _|_|_|    _|    _|_|      _|_|_|
//  _|      _|  _|    _|  _|_|      _|  _|    _|  _|    _|  _|  _|_|_|_|  _|_|
//    _|  _|    _|    _|  _|        _|  _|    _|  _|    _|  _|  _|            _|_|
//      _|        _|_|_|  _|        _|    _|_|_|  _|_|_|    _|    _|_|_|  _|_|_|
//
//

$bg-color: white;
$fg-color: #363636;
$ui-color: #959595;
$accent-color: #15b9b7;
$accent-mesh-color: rgba(mix($fg-color, $accent-color, 61.8%), 0.236);

$link-color: dodgerblue;
$visited-color: darkorchid;

$quote-color: forestgreen;

$code-bg-color: gainsboro;
$code-fg-color: #1f1f1f;

$font-text: 'Linux Libertine O', FreeSerif, 'Times New Roman', Times, Baskerville, 'Baskerville Old Face', serif;
$font-emph: 'Linux Biolinum O', FreeSans, 'Myriad Pro', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', sans-serif;
$font-code: 'Source Code Pro', Inconsolata, Menlo, Monaco, Consolas, monospace, serif;
$font-text-ja: IPAexMincho, YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', HGSMinchoE, Meiryo, sans-serif;
$font-emph-ja: IPAexGothic, YuGothic, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', Meiryo, sans-serif;
$font-code-ja: CodeM, Ricty, 'Source Han Code JP', Myrica, 'IPAGothic', Menlo, 'MS Gothic', monospace, serif;

//
//                                 _|                _|
//   _|_|_|    _|_|    _|_|_|    _|_|_|_|    _|_|_|      _|_|_|      _|_|    _|  _|_|
// _|        _|    _|  _|    _|    _|      _|    _|  _|  _|    _|  _|_|_|_|  _|_|
// _|        _|    _|  _|    _|    _|      _|    _|  _|  _|    _|  _|        _|
//   _|_|_|    _|_|    _|    _|      _|_|    _|_|_|  _|  _|    _|    _|_|_|  _|
//
//

html {
  font: 18px $font-text;
  @media screen and (orientation: portrait) and (max-width: 1000px) {
    font-size: unquote(calc(12px + 0.6vw));
  }
  @media screen and (orientation: landscape) and (max-height: 1000px) {
    font-size: unquote(calc(12px + 0.6vh));
  }
  text-align: justify;
  &:lang(ja) {
    font-family: $font-text-ja;

    text-align: left;
    text-align: start;
  }
  @media not screen and (min-width: 1000px) {
    text-align: left;
    text-align: start;
  }

  background-color: $bg-color;
  color: $fg-color;
  font-feature-settings: 'liga', 'palt';
  hyphens: auto;
  line-height: 1.618;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  text-autospace: none;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  margin: 0;
}

.header {
  background-color: $accent-color;
  color: $bg-color;

  > nav {
    overflow-x: auto;
    @extend %width-limited-container;

    > ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      white-space: nowrap;

      > li {
        display: block;
        float: left;

        > a {
          @extend %sans-serif;

          display: block;
          height: 1.272em;
          padding: 0.618em 1em;
          line-height: 1.272em;
        }
      }

      &::after {
        display: block;
        content: '';
        clear: left;
      }
    }
  }

  a:link, a:visited {
    border-color: $bg-color;
    color: $bg-color;

    &.hover-like,
    &:hover {
      background-color: $bg-color;
      color: $accent-color;
    }
  }

  a:link:hover {
    border-style: none;
  }
}

.footer {
  @extend %width-limited-container;

  margin-top: 1.618em;
  border-top: 1px dashed $ui-color;
  padding-bottom: 1px;

  > p {
    margin-top: 0.618em;
  }
}

main {
  // margin: 0 0.618em;
  @extend %width-limited-container;

  > h1,
  > header > h1 {
    padding-top: 0;
  }
}

%width-limited-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1666px;
}

body {
  > section,
  > nav {
    @extend %width-limited-container;
  }
}

main,
section,
.side-column,
.main-column,
.footer {
  > aside, > nav,
  > nav.tags,
  > header,
  > h1, > h2, > h3, > h4, > h5, > h6, > hr,
  > ul, > ol, > dl,
  > p, > blockquote, > .blockquote-like,
  > .footnotes {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1333px) {
  .flexible-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .side-column {
    flex-shrink: 0;
    flex-basis: 333px;
    position: sticky;
    top: 0;
    height: -moz-fit-content;
    height:      fit-content;
    max-height: 100vh;
    overflow-y: auto;

    // NOTE: Google Chrome 46+ を除き、 fill, fit-content, max-content, min-content が height 値としてサポートされていない。
    display: table;
    width: 333px;
  }

  .main-column {
    flex-basis: 1000px;
    flex-grow: 1;
  }
}

@media not screen and (min-width: 1333px) {
  .flexible-wrapper {
    max-width: 1000px;
  }

  // NOTE: `:has` が十分にサポートされるまでのその場凌ぎ
  .side-column > nav:last-child {
    margin-bottom: 2.618em;
  }

  .side-column:not(:has(nav)) {
    margin-bottom: 2.618em;
  }
}

aside {
  margin: 0.618em 0 1em;

}

/* aside */.note {
  border: 1px dashed $ui-color;
  padding: 0.382em 0.618em 0.382em 4.854em;

  &::before {
    @extend %sans-serif;

    content: 'NOTE';
    float: left;
    margin-left: -4.236em;
    font-size: 1rem;
  }
}

.post-meta {
  margin: 0.618em 0 1em;
}

/* section */.post-summary {
  .tags {
    > h3 {
      display: none;
    }
  }
}

%sans-serif {
  font-family: $font-emph;
  &:lang(ja) {
    font-family: $font-emph-ja;
  }
}

/* nav */.pagination-nav {
  @extend %sans-serif;

  text-align: center;

  > ul {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    > li {
      display: inline-block;
    }
  }
}


/* nav */.recent-posts {
  margin: 0 1em;
}

//
//   _|
// _|_|_|_|    _|_|_|    _|_|_|
//   _|      _|    _|  _|    _|
//   _|      _|    _|  _|    _|
//     _|_|    _|_|_|    _|_|_|
//                           _|
//                       _|_|

.tags {
  @extend %sans-serif;

  margin: -0.382em;
  padding: 0.382em;
  overflow: hidden;

  h3 {
    margin-right: -0.382rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.382em -0.382em 0;
    padding-left: 0;
    list-style: none;

    li {
      display: block;
      margin: 0 0.382em 0.382em 0;
    }
  }

  main > &,
  section > &,
  .side-column > &,
  .main-column > & {
    padding-left: 0;
    padding-right: 0;
  }
}

.tag {
  display: inline-block;
  border: 1px solid $ui-color;
  border-radius: 0.146em;
  padding: 0 0.382em;

  .tag-size {
    font-size: 75%;
  }
}

a.tag:link {
  border-color: $ui-color;
}

a.tag:visited {
  border-color: $ui-color;
}

a.tag:link:hover {
  background-color: $accent-mesh-color;
}

//
// _|                                  _|  _|
// _|_|_|      _|_|      _|_|_|    _|_|_|      _|_|_|      _|_|_|
// _|    _|  _|_|_|_|  _|    _|  _|    _|  _|  _|    _|  _|    _|
// _|    _|  _|        _|    _|  _|    _|  _|  _|    _|  _|    _|
// _|    _|    _|_|_|    _|_|_|    _|_|_|  _|  _|    _|    _|_|_|
//                                                             _|
//                                                         _|_|

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.618em;

  padding-top: 0.618em;
}

h1 { font-size: 182.4%; }
h2 { font-size: 161.8%; }
h3 { font-size: 143.4%; }
h4 { font-size: 127.2%; }
h5 { font-size: 112.7%; }
h6 { font-size: 100.0%; }

%strong {
  font-family: $font-emph;
  &:lang(ja) {
    font-family: $font-emph-ja;
  }

  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  @extend %strong;
}

hr {
  margin: 1.618em 0 1em;
  border: none;
}

// header-anchor

.header-anchor {
  opacity: 0;
  &:focus {
    opacity: 1;
  }

  font-size: 1rem;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  &:target .header-anchor,
  &:hover .header-anchor {
    opacity: 1;
  }
}

section, article, nav, aside {
  &:target {
    h1, h2, h3, h4, h5, h6 {
      .header-anchor {
        opacity: 1;
      }
    }
  }
}

//
//                                                                                 _|
// _|_|_|      _|_|_|  _|  _|_|    _|_|_|    _|_|_|  _|  _|_|    _|_|_|  _|_|_|    _|_|_|
// _|    _|  _|    _|  _|_|      _|    _|  _|    _|  _|_|      _|    _|  _|    _|  _|    _|
// _|    _|  _|    _|  _|        _|    _|  _|    _|  _|        _|    _|  _|    _|  _|    _|
// _|_|_|      _|_|_|  _|          _|_|_|    _|_|_|  _|          _|_|_|  _|_|_|    _|    _|
// _|                                            _|                      _|
// _|                                        _|_|                        _|

%plain-text {
  font-family: $font-text;
  &:lang(ja) {
    font-family: $font-text-ja;
  }
}

p {
  @extend %plain-text;

  margin: 1em 0 0.618em;

  &:lang(ja) {
    text-align: left;
    text-align: start;
  }
}

blockquote,
.blockquote-like {
  margin-top: 1em;
  margin-bottom: 0.618em;
  border-left: 0.382em solid $quote-color;
  padding: 0;

  > aside, > nav,
  > h1, > h2, > h3, > h4, > h5, > h6, > hr,
  > blockquote,
  > .blockquote-like,
  > table, > figure, > pre,
  > ul, > ol, > dl,
  > p {
    margin-left: 0.618rem;
  }
}

//
// _|  _|              _|
// _|        _|_|_|  _|_|_|_|
// _|  _|  _|_|        _|
// _|  _|      _|_|    _|
// _|  _|  _|_|_|        _|_|
//
//

%list-item-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol, dl {
  margin: 0.618em 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

ul, ol {
  li > p {
    @extend %list-item-paragraph;
  }
}

ul {
  padding-left: 1.618em;
}

ol {
  display: table;
  padding-left: 0;
  list-style: none;
  counter-reset: i;

  > li {
    display: table-row;

    &::before {
      @extend %sans-serif;

      display: table-cell;
      min-width: 1.618em;
      white-space: pre;
      text-align: right;
      counter-increment: i;
      content: counters(i, '.') '. ';
    }
  }
}

dl {
  dt {
    @extend %strong;

    margin-top: 0.618em;
  }

  dt > b {
    @extend %strong;
  }

  dd {
    margin-left: 1.618em;

    > p {
      @extend %list-item-paragraph;
    }
  }
}

.footnotes > ol {
  margin: 1em 0 0.618em;
}

.footnote {
  display: inline-block; // NOTE: Firefox bug?
  padding-top: 0.618em;
}

//
//    _|                _|        _|
//  _|_|_|_|    _|_|_|  _|_|_|    _|    _|_|
//    _|      _|    _|  _|    _|  _|  _|_|_|_|
//    _|      _|    _|  _|    _|  _|  _|
//      _|_|    _|_|_|  _|_|_|    _|    _|_|_|
//
//

table {
  margin: 0.618em auto 1.618em;
  border-collapse: collapse;
  th, td {
    border: 1px dashed $ui-color;
    padding: 0.382em 0.618em;
    white-space: nowrap;
  }

  th {
    @extend %strong;
  }
}

//
//                           _|
//   _|_|_|    _|_|      _|_|_|    _|_|
// _|        _|    _|  _|    _|  _|_|_|_|
// _|        _|    _|  _|    _|  _|
//   _|_|_|    _|_|      _|_|_|    _|_|_|
//
//

pre, code {
  font-family: $font-code;
  font-variant-ligatures: none;
  &:lang(ja) {
    font-family: $font-code-ja;
    font-variant-ligatures: none;
  }

  hyphens: none;
}

pre {
  white-space: pre-wrap;
  text-align: left;
  text-align: start;
  font-size: 88.7%;
  &:lang(ja) {
    font-size: 100%;
  }
}

:not(pre) > code {
  border-radius: 0.146em;
  padding: 0.146em 0.382em;
  background-color: $code-bg-color;
  color: $code-fg-color;
  white-space: pre-wrap;
  font-size: 78.6%;
  &:lang(ja) {
    font-size: 88.7%;
  }

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.highlighter-rouge {
  margin: 0.618em 0;

  pre.highlight {
    margin: 0;
    padding: 0.382rem 1rem;
    white-space: pre;
    overflow-x: auto;
  }
}

figure.highlight {
  margin: 0.618em 0;

  > pre {
    margin: 0;
    padding: 0.382rem 1rem;
    white-space: pre;
    overflow-x: auto;
  }
}

// blockquote,
// .blockquote-like {
//   .highlighter-rouge pre.highlight {
//     padding-left: 0.618rem;
//     padding-right: 0;
//   }
//
//   figure.highlight > pre {
//     padding-left: 0.618rem;
//     padding-right: 0;
//   }
// }

.highlight {

  > pre > code {
    @media screen and (min-width: 1000px) {
      white-space: pre-wrap;
    }
  }

  // w/ linenos
  table {
    display: block;
    margin-top: 0;
    margin-bottom: 0;

    > tbody {
      display: block;

      > tr {
        display: flex;

        > td {
          border: none;

          > pre {
            margin-top: 0;
            margin-bottom: 0;
          }

          &.gutter {
            margin-left: 0.5em;
            margin-right: 1em;
            padding: 0;
            text-align: right;
          }

          &.code {
            padding: 0;
          }
        }
      }
    }
  }
}

//
//    _|      _|
//  _|_|_|_|  _|_|_|      _|_|    _|_|_|  _|_|      _|_|
//    _|      _|    _|  _|_|_|_|  _|    _|    _|  _|_|_|_|
//    _|      _|    _|  _|        _|    _|    _|  _|
//      _|_|  _|    _|    _|_|_|  _|    _|    _|    _|_|_|
//
//

.highlight {
  background-color: #333;
  color: darkgray;

  table > tbody > tr > td.gutter {
    color: darkgray;
  }

  // name
  .n  { color: silver }
  .nn { color: tomato } // namespace
  .nd { color: tomato } // decorator
  .nc { color: tomato } // class
  .nb { color: #39c } // built in
  .nt { color: #39c } // tag
  .nv { color: tomato } // variable
  .nx { color: deepskyblue } // other

  // operator
  .o  {}

  // keyword
  .k  { color: orchid }
  .kt { color: khaki } // type
  .kc { color: sandybrown } // constant
  .kr { color: orchid } // reserved
  .kd { color: orchid } // declaration
  .k, .kr {
    font-weight: 500;
  }

  // number
  .mi { color: khaki } // integer
  .mf { color: khaki } // float

  // punctuation
  .p {}

  // comment
  .c  { color: gray; font-style: italic }
  .c1 { color: gray; font-style: italic } // single

  // string
  .s  { color: yellowgreen }
  .s1 { color: yellowgreen } // single
  .s2 { color: yellowgreen } // double
  .sc { color: sandybrown } // character
}

//
//    _|                            _|
//  _|_|_|_|    _|_|    _|    _|  _|_|_|_|
//    _|      _|_|_|_|    _|_|      _|
//    _|      _|        _|    _|    _|
//      _|_|    _|_|_|  _|    _|      _|_|
//
//

// NOTE: `*[lang]` としたいが、パフォーマンス上の理由で要素名を指定している。
a, time {
  &[lang] {
    @extend %plain-text;
  }
}

sup, sub {
  font-size: 0.618em;
}

mark {
  background-color: rgba(gold, 0.8);
  color: inherit;
}

%em {
  font-family: $font-emph;
  &:lang(ja) {
    font-style: normal;
    font-family: $font-emph-ja;
  }
}

strong {
  @extend %strong;
}

em, dfn {
  @extend %em;
}

q {
  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

.katex {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  math > semantics > annotation[encoding="application/x-tex"] {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
}

// link

a {
  border: dashed $link-color 0;
  text-decoration: none;
}

a:link {
  color: $link-color;
  // border-color: $link-color;
}

a:visited {
  &,
  > mark {
    border-color: $visited-color;
    color: $visited-color;
  }
}

a:link:hover {
  border-bottom-width: 1px;
}

a:link:active {
  border-style: solid;
}

del a:link,
strike a:link {
  pointer-events: none;
}
