.calendar-wrapper {
  display: block;
  margin: 0.618em auto 1em;
  width: 95.2%;
  width: calc(100% - 2em);
  height: 85.76%;
  height: calc(89.6vw - 1.6em);
  max-width: 800px;
  max-height: 640px;
}
