//
//                                  _|            _|        _|
//  _|      _|    _|_|_|  _|  _|_|        _|_|_|  _|_|_|    _|    _|_|      _|_|_|
//  _|      _|  _|    _|  _|_|      _|  _|    _|  _|    _|  _|  _|_|_|_|  _|_|
//    _|  _|    _|    _|  _|        _|  _|    _|  _|    _|  _|  _|            _|_|
//      _|        _|_|_|  _|        _|    _|_|_|  _|_|_|    _|    _|_|_|  _|_|_|
//
//

$bg-color: #272727;
$fg-color: white;
$ui-color: #6a6a6a;
$accent-color: #47ebe8;
$accent-mesh-color: rgba(mix($fg-color, $accent-color, 61.8%), 0.236);

$link-color: deepskyblue;
$visited-color: orchid;

$quote-color: forestgreen;

$code-bg-color: #161616;
$code-fg-color: #c9c9c9;

//
//                                 _|                _|
//   _|_|_|    _|_|    _|_|_|    _|_|_|_|    _|_|_|      _|_|_|      _|_|    _|  _|_|
// _|        _|    _|  _|    _|    _|      _|    _|  _|  _|    _|  _|_|_|_|  _|_|
// _|        _|    _|  _|    _|    _|      _|    _|  _|  _|    _|  _|        _|
//   _|_|_|    _|_|    _|    _|      _|_|    _|_|_|  _|  _|    _|    _|_|_|  _|
//
//

html {
  background-color: $bg-color;
  color: $fg-color;
}

.header {
  background-color: $accent-color;
  color: $bg-color;

  a:link, a:visited {
    color: $bg-color;

    &.hover-like,
    &:hover {
      background-color: $bg-color;
      color: $accent-color;
    }
  }
}

.footer {
  border-top: 0.0625em dashed $ui-color;
}

/* aside */.note {
  border: 0.0625em dashed $ui-color;
}

//
//   _|
// _|_|_|_|    _|_|_|    _|_|_|
//   _|      _|    _|  _|    _|
//   _|      _|    _|  _|    _|
//     _|_|    _|_|_|    _|_|_|
//                           _|
//                       _|_|

.tag {
  border: 0.0625em solid $ui-color;
}

a.tag:link {
  border-color: $ui-color;
}

a.tag:visited {
  border-color: $ui-color;
}

a.tag:link:hover {
  background-color: $accent-mesh-color;
}

//
// _|                                  _|  _|
// _|_|_|      _|_|      _|_|_|    _|_|_|      _|_|_|      _|_|_|
// _|    _|  _|_|_|_|  _|    _|  _|    _|  _|  _|    _|  _|    _|
// _|    _|  _|        _|    _|  _|    _|  _|  _|    _|  _|    _|
// _|    _|    _|_|_|    _|_|_|    _|_|_|  _|  _|    _|    _|_|_|
//                                                             _|
//                                                         _|_|

hr {
  border-top: solid $ui-color 1px;
}

//
//                                                                                 _|
// _|_|_|      _|_|_|  _|  _|_|    _|_|_|    _|_|_|  _|  _|_|    _|_|_|  _|_|_|    _|_|_|
// _|    _|  _|    _|  _|_|      _|    _|  _|    _|  _|_|      _|    _|  _|    _|  _|    _|
// _|    _|  _|    _|  _|        _|    _|  _|    _|  _|        _|    _|  _|    _|  _|    _|
// _|_|_|      _|_|_|  _|          _|_|_|    _|_|_|  _|          _|_|_|  _|_|_|    _|    _|
// _|                                            _|                      _|
// _|                                        _|_|                        _|

blockquote,
.blockquote-like {
  border-left: 0.382em solid $quote-color;
}

//
//    _|                _|        _|
//  _|_|_|_|    _|_|_|  _|_|_|    _|    _|_|
//    _|      _|    _|  _|    _|  _|  _|_|_|_|
//    _|      _|    _|  _|    _|  _|  _|
//      _|_|    _|_|_|  _|_|_|    _|    _|_|_|
//
//

table {
  th, td {
    border: 0.0625em dashed $ui-color;
  }
}

//
//                           _|
//   _|_|_|    _|_|      _|_|_|    _|_|
// _|        _|    _|  _|    _|  _|_|_|_|
// _|        _|    _|  _|    _|  _|
//   _|_|_|    _|_|      _|_|_|    _|_|_|
//
//

:not(pre) > code {
  background-color: $code-bg-color;
  color: $code-fg-color;
}

//
//    _|      _|
//  _|_|_|_|  _|_|_|      _|_|    _|_|_|  _|_|      _|_|
//    _|      _|    _|  _|_|_|_|  _|    _|    _|  _|_|_|_|
//    _|      _|    _|  _|        _|    _|    _|  _|
//      _|_|  _|    _|    _|_|_|  _|    _|    _|    _|_|_|
//
//

.highlighter-rouge pre.highlight {
  background-color: $code-bg-color;
  color: $code-fg-color;

  // name
  .n  { color: dodgerblue }
  .nn { color: tomato } // namespace
  .nd { color: tomato } // decorator
  .nc { color: tomato } // class
  .nb { color: royalblue } // built in
  .nt { color: royalblue } // tag
  .nv { color: tomato } // variable
  .nx { color: royalblue } // other

  // keyword
  .k  { color: mediumorchid }
  .kt { color: goldenrod } // type
  .kc { color: darkgoldenrod } // constant
  .kr { color: mediumorchid } // reserved
  .kd { color: mediumorchid } // declaration

  // number
  .mi { color: goldenrod } // integer
  .mf { color: goldenrod } // float

  // comment
  .c  { color: gray; font-style: italic }
  .c1 { color: gray; font-style: italic } // single

  // string
  .s  { color: forestgreen }
  .s1 { color: forestgreen } // single
  .s2 { color: forestgreen } // double
  .sc { color: darkgoldenrod } // character
}

//
//    _|                            _|
//  _|_|_|_|    _|_|    _|    _|  _|_|_|_|
//    _|      _|_|_|_|    _|_|      _|
//    _|      _|        _|    _|    _|
//      _|_|    _|_|_|  _|    _|      _|_|
//
//

mark {
  background-color: rgba(gold, 0.8);
  color: inherit;
}

// link

a {
  border: dashed currentColor 0;
}

a:link {
  color: $link-color;
}

a:visited,
a:visited > mark {
  color: $visited-color;
}
