.gist {
  font-size: 1rem !important;

  margin-left: 1rem;
  margin-right: 1rem;

  table, table th, table td {
    border: unset;
  }

  .highlight {
    line-height: 1.618 !important;
    font-size: unset !important;
  }

  .blob-num,
  .blob-code-inner {
    line-height: unset !important;
    font-size: unset !important;
    font-family: $font-code !important;
    &:lang(ja) {
      font-family: $font-code-ja !important
    }
  }
}
