.gist {
  font-size: 88.7% !important;
  &:lang(ja) {
    font-size: 100% !important;
  }

  margin-top: 0.618em;
  margin-bottom: 0.618em;

  main > &,
  .side-column > &,
  .main-column > & {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  table, table th, table td {
    border: unset;
  }

  .highlight {
    line-height: 1.618 !important;
    font-size: unset !important;
  }

  .blob-num,
  .blob-code-inner {
    line-height: unset !important;
    font-size: unset !important;
    font-family: $font-code !important;
    font-variant-ligatures: none;
    &:lang(ja) {
      font-family: $font-code-ja !important;
      font-variant-ligatures: none;
    }
  }

  .gist-meta {
    font-size: 78.6% !important;
    font-family: $font-emph !important;
  }
}
