//
//  _|                                            _|
//  _|    _|_|_|  _|    _|    _|_|    _|    _|  _|_|_|_|
//  _|  _|    _|  _|    _|  _|    _|  _|    _|    _|
//  _|  _|    _|  _|    _|  _|    _|  _|    _|    _|
//  _|    _|_|_|    _|_|_|    _|_|      _|_|_|      _|_|
//                      _|
//                  _|_|

.highlight {
  margin: 0.618em 0 1.618em;
  padding: 0.382em 0.618em;

  // w/o linenos
  & > code {
    overflow-x: auto;
    display: block;
  }

  // w/ linenos
  table {
    display: block;
    border: none;
    margin: 0;
    & > tbody {
      display: block;
      & > tr {
        display: flex;
        & > td {
          border: none;
          & > pre {
            margin: 0;
          }
          &.gutter {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            color: rgba(27, 31, 35, 0.333);
          }
          &.code {
            overflow-x: auto;
            padding: 0;
          }
        }
      }
    }
  }
}

//
//    _|      _|
//  _|_|_|_|  _|_|_|      _|_|    _|_|_|  _|_|      _|_|
//    _|      _|    _|  _|_|_|_|  _|    _|    _|  _|_|_|_|
//    _|      _|    _|  _|        _|    _|    _|  _|
//      _|_|  _|    _|    _|_|_|  _|    _|    _|    _|_|_|
//
//

.highlight {
  background-color: #333;
  color: darkgray;

  // name
  .n  {}
  .nn { color: tomato } // namespace
  .nd { color: tomato } // decorator
  .nc { color: tomato } // class

  // operator
  .o  {}

  // keyword
  .k  { color: orchid }
  .kt { color: khaki } // type
  .kc { color: sandybrown } // constant
  .kr { color: orchid } // reserved
  .k, .kr {
    font-weight: 500;
  }

  // number
  .mi { color: khaki } // integer
  .mf { color: khaki } // float

  // punctuation
  .p {}
}
