/* Keep contrasting with ./vertical.css */

/* code:root, */
:not(pre) > code,
.horizontal :not(pre) > code,
:not(pre).horizontal > code,
:not(pre) > code.horizontal {
  display: revert;
  padding-block: 0.236068em; /* φ⁻³ */
  line-height: revert;
}

/* from ../text.css */
/* NOTE: @nest すると :is に展開されることがあり、a の詳細度が上がってしまうので、セレクターをベタ書きする。他同様。 */
a:lang(ja):hover,
a:lang(jpn-archaic):hover,
.horizontal a:lang(ja):hover,
.horizontal a:lang(jpn-archaic):hover,
a:lang(ja).horizontal:hover,
a:lang(jpn-archaic).horizontal:hover {
  text-decoration: underline dashed;
}

a:lang(ja, jpn-archaic):hover,
.horizontal a:lang(ja, jpn-archaic):hover,
a:lang(ja, jpn-archaic).horizontal:hover {
  text-decoration: underline dashed;
}

a:lang(ja):active,
a:lang(jpn-archaic):active,
.horizontal a:lang(ja):active,
.horizontal a:lang(jpn-archaic):active,
a:lang(ja).horizontal:active,
a:lang(jpn-archaic).horizontal:active {
  text-decoration: underline;
}

a:lang(ja, jpn-archaic):active,
.horizontal a:lang(ja, jpn-archaic):active,
a:lang(ja, jpn-archaic).horizontal:active {
  text-decoration: underline;
}

.footnotes-list > .footnote-item {
  text-align: revert;

  & > :first-child {
    display: revert;
    height: revert;
  }

  & > p:first-child {
    text-align: revert;
    display: revert;
  }

  & > blockquote:first-child {
    /* See vertical.css */
    display: revert;
    height: revert;
  }

  & > .blockquote-like {
    @extend .footnotes-list > .footnote-item > blockquote;
  }
}
