/* Keep contrasting with ./horizontal.css */

@custom-selector :--blockquote blockquote, .blockquote-like;

.sideways,
/* code:root, */
:not(pre) > code {
  display: inline-block;
  display: inline flow-root;
  padding-block: initial;
  line-height: calc(1 + 2 * 0.236068); /* φ⁻³; Hatching height same as layout.css; NOTE: Line that consists only code is thinner. */
}

:is(span, i):lang(iu) {
  @extend .sideways;
}

/* ../text.css */
a:lang(ja),
a:lang(jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

a:lang(ja, jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

u {
  text-decoration: overline; /* left */
}

ul > li, ol > li {
  text-align: start;

  /* & > :first-child  {
    display: inline flow-root;
    height: -moz-available;
  } */

  & > p:first-child {
    text-align: justify;
    display: inline;
  }

  & > :--blockquote:first-child {
    /* Firefox (98.0.2) の writing-mode: vertical-rl 文脈で ol > li 直下に <p> などの display: block な要素を置くとマーカーが右に 1 em 程度ずれてしまう不具合を回避する。 */
    display: inline flow-root;
    height: -moz-available;
  }
}
