/* Keep contrasting with ./horizontal.css */

/* code:root, */
:not(pre) > code {
  display: inline flow-root;
  padding-block: initial;
  line-height: calc(1 + 2 * 0.236068); /* φ⁻³; Hatching height same as layout.css; NOTE: Line that consists only code is thinner. */
}

/* ../text.css */
a:lang(ja),
a:lang(jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

a:lang(ja, jpn-archaic) {
  &:hover {
    text-decoration: overline dashed; /* left */
  }

  &:active {
    text-decoration: overline; /* left */
  }
}

.footnotes-list > .footnote-item {
  text-align: start;

  & > p {
    text-align: justify;
    display: inline;
  }

  & > blockquote {
    display: inline-flex;
    flex-direction: column;
  }
}
