/* Keep contrasting with ./horizontal.css */

@custom-selector :--blockquote blockquote, .blockquote-like;

.sideways,
/* code:root, */
:not(pre) > code,
kbd {
  display: inline-block;
  display: inline flow-root;
  padding-block: initial;
  line-height: calc(1 + 2 * 0.236068); /* φ⁻³; Hatching height same as layout.css; NOTE: Line that consists only code is thinner. */
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;

  @nest s & {
    /* display: inline flow-root doesn't imply text-decoration: inherit. */
    text-decoration-line: inherit;
  }
}

.horizontal .sideways,
.sideways.horizontal,
.horizontal :not(pre) > code,
:not(pre).horizontal > code,
:not(pre) > code.horizontal,
.horizontal kbd,
kbd.horizontal {
  display: revert;
  padding-block: 0.236068em; /* φ⁻³; Same as in layout.css */
  line-height: revert;
  vertical-align: revert;
}

:is(span, i):lang(iu) {
  @extend .sideways;
}

ul > li, ol > li {
  text-align: start;

  /* & > :first-child  {
    display: inline flow-root;
    height: -moz-available;
  } */

  & > p:first-child {
    text-align: justify;
    display: inline;
  }

  & > :--blockquote:first-child {
    /* Firefox (98.0.2-119.0.1) の writing-mode: vertical-rl 文脈で ol > li 直下に <p> などの display: block な要素を置くとマーカーが右に 1 em 程度ずれてしまう不具合を回避する。 */
    display: inline flow-root;
    display: -webkit-inline-box;
    height: -moz-available;
  }
}

.diagram-wrapper {
  max-height: revert;
}

.mermaid {
  /* Firefox では load 時の Mermaid レンダー後に fit-content (height) が変更されないようなので、当面の間、これを使わないようにする。 */
  max-height: revert;
}
