html {
  font-size: 14px;
  overflow-wrap: break-word;
}

body {
  display: flex;
  flex-wrap: wrap;
}

body > * {
  width: 100%;
}

section {
  margin: 1em;
  border: 1px solid #7f7f7f;
  border-radius: 1em;
  padding: 1em;
  width: calc(33.3333% - 2em - 2px - 2em); /* (one-third of the screen width) - (margin) - (border) - (padding) */
  min-width: 27em;
  height: max-content;
}

dl > dt {
  margin-top: 1em;
}

.content a {
  pointer-events: none;
}
