---
url: ./feed.xml
---

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xml" href="{{ '~/feed.xsl.njk' | url(true) | encodeUri }}"?>
<feed xmlns="http://www.w3.org/2005/Atom"
  {%- if site.language %} xml:lang="{{ site.language }}" {%- endif -%}
>
  <title>{{ site.name }}</title>
  <id>{{ '/' | url(true) | encodeUri }}</id>
  <link href="{{ '/' | url(true) | encodeUri }}" rel="alternate" type="text/html" />
  <link href="{{ url | url(true) | encodeUri }}" rel="self" type="application/atom+xml" />

  <author>
    <name>{{ site.author.name }}</name>
    {% if site.author.email -%} <email>{{ site.author.email }}</email> {%- endif %}
    {% if site.author.url -%} <uri>{{ site.author.url | encodeUri }}</uri> {%- endif %}
  </author>

  {% set lastPageData = search.pages('', 'lastmod=desc date=desc') | first %}
  <updated>{{ (lastPageData.lastmod or lastPageData.date) | date("ATOM") }}</updated>

  {% for data in search.pages('', 'lastmod=desc date=desc') %}
  <entry
    {%- if data.language %} xml:lang="{{ data.language }}" {%- endif -%}
  >
    {% if data.title -%}
    <title type="html">{{ data.title | md | safe | striptags }}</title>
    {% endif -%}

    {% if not data.title -%}
    <title type="html">{{ data.content | md | safe | getIncipit }}</title>
    {% endif -%}

    <id>{{ data.url | url(true) | encodeUri }}</id>
    <link href="{{ data.url | url(true) | encodeUri }}" rel="alternate" type="text/html" />
    {% if data.content -%}
    <content type="html">
      <![CDATA[
        {{ data.content | njk | md | truncateHtml(200) | safe }}
      ]]>
    </content>
    {% endif -%}

    <published>{{ data.date | date('ATOM') }}</published>
    <updated>{{ (data.lastmod or data.date) | date('ATOM') }}</updated>
  </entry>
  {% endfor %}
</feed>
