/**
 * 縦書きのページで、部分的な横書きを実現する。
 *
 * **実装上の注意**
 * : vertical.css が優先されているときもうまく動くようにするため、詳細度を `:where` 等で下げてはならない。
 *
 * <!-- FIXME: 自動展開したい -->
*/

/* cf. ./horizontal.css */

%horizontal {
  writing-mode: horizontal-tb;
}

.horizontal {
  @extend %horizontal
}

/* .horizontal を元に戻す */
%revert-class-horizontal {
  writing-mode: revert;
  writing-mode: vertical-rl; /* Safari (15.1, iOS 15.2) では継承するか直接指定するかで振る舞いが変わることがあるので、明示的に指定している。 TODO: Delete this line */
}

.horizontal p,
p.horizontal {
  /* layout.css */
  margin: 0 1em;

  height: 100%;
  width: max-content;
  max-width: calc(100vmin - 2em); /* horizontal margin */
  @media (orientation: portrait) {
    max-width: calc(100vw - 2em);
  }
  overflow-y: auto;
  overflow-inline: auto;
}

/* TODO: blockquote > p 以外の構造でもうまく動くようにする? */
blockquote.horizontal {
  margin: 0 1em; /* ./reset.css */
  border-width: calc(2 / 14 * 1rem) 0;
  padding: calc(1rem - 2 / 14 * 1rem) 0;
  box-sizing: border-box;
  width: revert;
  height: 100%;
  overflow-x: revert;
  overflow-y: auto;
}

blockquote.horizontal > p {
  @extend %horizontal;

  margin: revert;
  height: revert;
}

.blockquote-like {
  @extend blockquote;
}

/* cf. ../horizontal.css */

.horizontal ol,
ol.horizontal {
  list-style-type: revert;
}

.horizontal em,
em.horizontal {
  font-style: revert; /* italic */
}

/* .horizontal em,
em.horizontal, */
.horizontal em :where([lang]),
em.horizontal :where([lang]),
em .horizontal:where([lang]) {
  font-style: italic;
}

.horizontal em:where(:lang(ja)),
.horizontal em:where(:lang(jpn-archaic)),
em:where(:lang(ja)).horizontal,
em:where(:lang(jpn-archaic)).horizontal,
.horizontal em :where(:lang(ja)),
.horizontal em :where(:lang(jpn-archaic)),
em.horizontal :where(:lang(ja)),
em.horizontal :where(:lang(jpn-archaic)),
em :where(:lang(ja)).horizontal,
em :where(:lang(jpn-archaic)).horizontal {
  font-style: normal;
  font-family: var(--font-text-emphasized);
}

.horizontal em:where(:lang(ja, jpn-archaic)),
em:where(:lang(ja, jpn-archaic)).horizontal,
.horizontal em :where(:lang(ja, jpn-archaic)),
em.horizontal :where(:lang(ja, jpn-archaic)),
em :where(:lang(ja, jpn-archaic)).horizontal { font-style: normal;
  font-family: var(--font-text-emphasized);
}

.horizontal b,
b.horizontal {
  font-weight: unset;
  text-emphasis-style: revert;
  text-decoration: underline;
}

.horizontal .sideways,
.sideways.horizontal {
  font-feature-settings: revert;
  text-orientation: revert;
}

.horizontal .upright,
.upright.horizontal {
  font-feature-settings: revert;
  text-orientation: revert;
}

.horizontal .tate-chu-yoko,
.tate-chu-yoko.horizontal {
  -webkit-text-combine: revert;
  text-combine-upright: revert;
}

.horizontal .header-anchor,
.header-anchor.horizontal {
  @extend .upright;
}

.horizontal .footnote-ref a[id],
.footnote-ref.horizontal a[id],
.footnote-ref a[id].horizontal {
  scroll-margin: 1em; /* スクロール方向が分からないので四方に同じように取る */
}
